# description
Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

In their first Kaggle competition, Rossmann is challenging you to predict 6 weeks of daily sales for 1,115 stores located across Germany. Reliable sales forecasts enable store managers to create effective staff schedules that increase productivity and motivation. By helping Rossmann create a robust prediction model, you will help store managers stay focused on what’s most important to them: their customers and their teams!

In [1]:
from keras.models import Sequential
from keras.layers import Dense, Flatten, Conv1D, MaxPooling1D, Dropout, Input, Concatenate,LSTM
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from keras.models import Model
import os
import tarfile
import numpy as np

Using TensorFlow backend.

In [2]:
import numpy as np
import pandas as pd
import keras

In [3]:
import re

# 载入文件

Data fields
Most of the fields are self-explanatory. The following are descriptions for those that aren't.
Id - an Id that represents a (Store, Date) duple within the test set
Store - a unique Id for each store
Sales - the turnover for any given day (this is what you are predicting)
Customers - the number of customers on a given day
Open - an indicator for whether the store was open: 0 = closed, 1 = open
StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools
StoreType - differentiates between 4 different store models: a, b, c, d
Assortment - describes an assortment level: a = basic, b = extra, c = extended
CompetitionDistance - distance in meters to the nearest competitor store
CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
Promo - indicates whether a store is running a promo on that day
Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2
PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [4]:
path = r'./rossmann/'

In [5]:
table_names = ['train', 'store', 'store_states', 'state_names',  'googletrend', 'weather', 'test']  #需要用到的表名

In [6]:
tables = [pd.read_csv(path+fname+r'.csv', low_memory=False) for fname in table_names]  #将需要用到的表存入tables

In [7]:
from IPython.display import HTML, display

In [8]:
for t in tables:             
    display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

# 特征工程

In [9]:
train, store, store_states, state_names, googletrend, weather, test = tables   #将tables中的表分别赋值给不同的变量

In [10]:
len(train),len(test)   #训练集和测试集的大小

(1017209, 41088)

我们分析各个表中的特征，找出连续特征和离散特征
train:
    离散特征：Store, DayOfWeek,Open, Promo,StateHoliday,SchoolHoliday
    连续特征：Sales, Customers,Date
store:
    离散特征：Store, StoreType,Assortment,Promo2,PromoInterval
    连续特征：Sales, Customers,Date,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,
           Promo2SinceWeek,Promo2SinceWeek,Promo2SinceYear
store_states:
    离散特征：Store,State
    连续特征：无
state_names:
    离散特征：StateName,State
    连续特征：无
googletrend:
    离散特征：file
    连续特征：week, trend
weather：
    离散特征：file,Events 
    连续特征：Date, Max_TemperatureC, Mean_TemperatureC, Min_TemperatureC, Dew_PointC,MeanDew_PointC, 
          Min_DewpointC, Max_Humidity,Mean_Humidity, Min_Humidity, Max_Sea_Level_PressurehPa,Mean_Sea_Level_PressurehPa, 
          Min_Sea_Level_PressurehPa, Max_VisibilityKm, Mean_VisibilityKm,Min_VisibilitykM, Max_Wind_SpeedKm_h, Mean_Wind_SpeedKm_h,
          ,Max_Wind_SpeedKm_h, Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,WindDirDegrees 
test:
    离散特征：Id,Store,DayOfWeek, Open, Promo,StateHoliday,SchoolHoliday
    连续特征：Date

In [11]:
#将StateHoliday转成boolean形
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [12]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,False,1
1,2,5,2015-07-31,6064,625,1,1,False,1
2,3,5,2015-07-31,8314,821,1,1,False,1
3,4,5,2015-07-31,13995,1498,1,1,False,1
4,5,5,2015-07-31,4822,559,1,1,False,1

##

In [13]:
# merge的参数

# on：列名，join用来对齐的那一列的名字，用到这个参数的时候一定要保证左表和右表用来对齐的那一列都有相同的列名。如果未指定，则选择两个表的交集

# left_on：左表对齐的列，可以是列名，也可以是和dataframe同样长度的arrays。

# right_on：右表对齐的列，可以是列名，也可以是和dataframe同样长度的arrays。

# left_index/ right_index: 如果是True的haunted以index作为对齐的key

# how：数据融合的方法，inner: 显示两表的交集，outer：显示两表的并集，left: 只显示左表的内容，right: 只显示右表的内容。

# sort：根据dataframe合并的keys按字典顺序排序，默认是，如果置false可以提高表现。

def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: 
        right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [14]:
#左表是weather,右表是state_names
weather = join_df(weather, state_names, "file", "StateName")

weather = weather + state_names

In [15]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'  #loc(row,column)选取特定的行列，赋值

In [16]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [17]:
def add_datepart(df, fldname, drop=True, time=False):   #分离日期数据
    """add_datepart converts a column of df from a datetime64 to many columns containing
    the information from the date. This applies changes inplace.
    Parameters:
    -----------
    df: A pandas data frame. df gain several new columns.
    fldname: A string that is the name of the date column you wish to expand.
        If it is not a datetime64 series, it will be converted to one with pd.to_datetime.
    drop: If true then the original date column will be removed.
    time: If true time features: Hour, Minute, Second will be added.
    Examples:
    ---------
    >>> df = pd.DataFrame({ 'A' : pd.to_datetime(['3/11/2000', '3/12/2000', '3/13/2000'], infer_datetime_format=False) })
    >>> df
        A
    0   2000-03-11
    1   2000-03-12
    2   2000-03-13
    >>> add_datepart(df, 'A')
    >>> df
        AYear AMonth AWeek ADay ADayofweek ADayofyear AIs_month_end AIs_month_start AIs_quarter_end AIs_quarter_start AIs_year_end AIs_year_start AElapsed
    0   2000  3      10    11   5          71         False         False           False           False             False        False          952732800
    1   2000  3      10    12   6          72         False         False           False           False             False        False          952819200
    2   2000  3      11    13   0          73         False         False           False           False             False        False          952905600
    """
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: 
        attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: 
        df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: 
        df.drop(fldname, axis=1, inplace=True)

In [18]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

In [19]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,1,1,1,False,True,False,True,False,True,1356998400
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,2,2,2,False,False,False,False,False,False,1357084800
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,3,3,3,False,False,False,False,False,False,1357171200
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,4,4,4,False,False,False,False,False,False,1357257600
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,5,5,5,False,False,False,False,False,False,1357344000
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,6,6,6,False,False,False,False,False,False,1357430400
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,7,0,7,False,False,False,False,False,False,1357516800
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,8,1,8,False,False,False,False,False,False,1357603200
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,9,2,9,False,False,False,False,False,False,1357689600
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,10,3,10,False,False,False,False,False,False,1357776000
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,11,4,11,False,False,False,False,False,False,1357862400
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,12,5,12,False,False,False,False,False,False,1357948800
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,13,6,13,False,False,False,False,False,False,1358035200
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,14,0,14,False,False,False,False,False,False,1358121600
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,15,1,15,False,False,False,False,False,False,1358208000
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,16,2,16,False,False,False,False,False,False,1358294400
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,17,3,17,False,False,False,False,False,False,1358380800
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,18,4,18,False,False,False,False,False,False,1358467200
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,19,5,19,False,False,False,False,False,False,1358553600
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,20,6,20,False,False,False,False,False,False,1358640000
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,21,0,21,False,False,False,False,False,False,1358726400
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,22,1,22,False,False,False,False,False,False,1358812800
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,23,2,23,False,False,False,False,False,False,1358899200
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,24,3,24,False,False,False,False,False,False,1358985600
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,25,4,25,False,False,False,False,False,False,1359072000
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,26,5,26,False,False,False,False,False,False,1359158400
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,27,6,27,False,False,False,False,False,False,1359244800
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,28,0,28,False,False,False,False,False,False,1359331200
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,29,1,29,False,False,False,False,False,False,1359417600
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,30,2,30,False,False,False,False,False,False,1359504000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,19,2,231,False,False,False,False,False,False,1439942400
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,20,3,232,False,False,False,False,False,False,1440028800
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,21,4,233,False,False,False,False,False,False,1440115200
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,22,5,234,False,False,False,False,False,False,1440201600
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,23,6,235,False,False,False,False,False,False,1440288000
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,24,0,236,False,False,False,False,False,False,1440374400
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,25,1,237,False,False,False,False,False,False,1440460800
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,26,2,238,False,False,False,False,False,False,1440547200
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,27,3,239,False,False,False,False,False,False,1440633600
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,28,4,240,False,False,False,False,False,False,1440720000
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,29,5,241,False,False,False,False,False,False,1440806400
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,30,6,242,False,False,False,False,False,False,1440892800
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,31,0,243,True,False,False,False,False,False,1440979200
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,1,1,244,False,True,False,False,False,False,1441065600
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,2,2,245,False,False,False,False,False,False,1441152000
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,3,3,246,False,False,False,False,False,False,1441238400
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,4,4,247,False,False,False,False,False,False,1441324800
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,5,5,248,False,False,False,False,False,False,1441411200
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,6,6,249,False,False,False,False,False,False,1441497600
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,7,0,250,False,False,False,False,False,False,1441584000
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,8,1,251,False,False,False,False,False,False,1441670400
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,9,2,252,False,False,False,False,False,False,1441756800
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,10,3,253,False,False,False,False,False,False,1441843200
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,11,4,254,False,False,False,False,False,False,1441929600
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,12,5,255,False,False,False,False,False,False,1442016000
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,13,6,256,False,False,False,False,False,False,1442102400
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,14,0,257,False,False,False,False,False,False,1442188800
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,15,1,258,False,False,False,False,False,False,1442275200
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,16,2,259,False,False,False,False,False,False,1442361600
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,17,3,260,False,False,False,False,False,False,1442448000

In [20]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE'] #提取出没有地区信息的数据

In [21]:
trend_de

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
148,Rossmann_DE,2012-12-02 - 2012-12-08,77,2012-12-02,None,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
149,Rossmann_DE,2012-12-09 - 2012-12-15,76,2012-12-09,None,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
150,Rossmann_DE,2012-12-16 - 2012-12-22,85,2012-12-16,None,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
151,Rossmann_DE,2012-12-23 - 2012-12-29,59,2012-12-23,None,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
152,Rossmann_DE,2012-12-30 - 2013-01-05,61,2012-12-30,None,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600
153,Rossmann_DE,2013-01-06 - 2013-01-12,62,2013-01-06,None,2013,1,1,6,6,6,False,False,False,False,False,False,1357430400
154,Rossmann_DE,2013-01-13 - 2013-01-19,51,2013-01-13,None,2013,1,2,13,6,13,False,False,False,False,False,False,1358035200
155,Rossmann_DE,2013-01-20 - 2013-01-26,56,2013-01-20,None,2013,1,3,20,6,20,False,False,False,False,False,False,1358640000
156,Rossmann_DE,2013-01-27 - 2013-02-02,50,2013-01-27,None,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
157,Rossmann_DE,2013-02-03 - 2013-02-09,58,2013-02-03,None,2013,2,5,3,6,34,False,False,False,False,False,False,1359849600
158,Rossmann_DE,2013-02-10 - 2013-02-16,51,2013-02-10,None,2013,2,6,10,6,41,False,False,False,False,False,False,1360454400
159,Rossmann_DE,2013-02-17 - 2013-02-23,58,2013-02-17,None,2013,2,7,17,6,48,False,False,False,False,False,False,1361059200
160,Rossmann_DE,2013-02-24 - 2013-03-02,51,2013-02-24,None,2013,2,8,24,6,55,False,False,False,False,False,False,1361664000
161,Rossmann_DE,2013-03-03 - 2013-03-09,55,2013-03-03,None,2013,3,9,3,6,62,False,False,False,False,False,False,1362268800
162,Rossmann_DE,2013-03-10 - 2013-03-16,54,2013-03-10,None,2013,3,10,10,6,69,False,False,False,False,False,False,1362873600
163,Rossmann_DE,2013-03-17 - 2013-03-23,62,2013-03-17,None,2013,3,11,17,6,76,False,False,False,False,False,False,1363478400
164,Rossmann_DE,2013-03-24 - 2013-03-30,57,2013-03-24,None,2013,3,12,24,6,83,False,False,False,False,False,False,1364083200
165,Rossmann_DE,2013-03-31 - 2013-04-06,57,2013-03-31,None,2013,3,13,31,6,90,True,False,True,False,False,False,1364688000
166,Rossmann_DE,2013-04-07 - 2013-04-13,59,2013-04-07,None,2013,4,14,7,6,97,False,False,False,False,False,False,1365292800
167,Rossmann_DE,2013-04-14 - 2013-04-20,50,2013-04-14,None,2013,4,15,14,6,104,False,False,False,False,False,False,1365897600
168,Rossmann_DE,2013-04-21 - 2013-04-27,59,2013-04-21,None,2013,4,16,21,6,111,False,False,False,False,False,False,1366502400
169,Rossmann_DE,2013-04-28 - 2013-05-04,52,2013-04-28,None,2013,4,17,28,6,118,False,False,False,False,False,False,1367107200
170,Rossmann_DE,2013-05-05 - 2013-05-11,56,2013-05-05,None,2013,5,18,5,6,125,False,False,False,False,False,False,1367712000
171,Rossmann_DE,2013-05-12 - 2013-05-18,60,2013-05-12,None,2013,5,19,12,6,132,False,False,False,False,False,False,1368316800
172,Rossmann_DE,2013-05-19 - 2013-05-25,53,2013-05-19,None,2013,5,20,19,6,139,False,False,False,False,False,False,1368921600
173,Rossmann_DE,2013-05-26 - 2013-06-01,65,2013-05-26,None,2013,5,21,26,6,146,False,False,False,False,False,False,1369526400
174,Rossmann_DE,2013-06-02 - 2013-06-08,55,2013-06-02,None,2013,6,22,2,6,153,False,False,False,False,False,False,1370131200
175,Rossmann_DE,2013-06-09 - 2013-06-15,55,2013-06-09,None,2013,6,23,9,6,160,False,False,False,False,False,False,1370736000
176,Rossmann_DE,2013-06-16 - 2013-06-22,67,2013-06-16,None,2013,6,24,16,6,167,False,False,False,False,False,False,1371340800
177,Rossmann_DE,2013-06-23 - 2013-06-29,59,2013-06-23,None,2013,6,25,23,6,174,False,False,False,False,False,False,1371945600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,Rossmann_DE,2015-03-08 - 2015-03-14,64,2015-03-08,None,2015,3,10,8,6,67,False,False,False,False,False,False,1425772800
267,Rossmann_DE,2015-03-15 - 2015-03-21,74,2015-03-15,None,2015,3,11,15,6,74,False,False,False,False,False,False,1426377600
268,Rossmann_DE,2015-03-22 - 2015-03-28,63,2015-03-22,None,2015,3,12,22,6,81,False,False,False,False,False,False,1426982400
269,Rossmann_DE,2015-03-29 - 2015-04-04,75,2015-03-29,None,2015,3,13,29,6,88,False,False,False,False,False,False,1427587200
270,Rossmann_DE,2015-04-05 - 2015-04-11,66,2015-04-05,None,2015,4,14,5,6,95,False,False,False,False,False,False,1428192000
271,Rossmann_DE,2015-04-12 - 2015-04-18,69,2015-04-12,None,2015,4,15,12,6,102,False,False,False,False,False,False,1428796800
272,Rossmann_DE,2015-04-19 - 2015-04-25,65,2015-04-19,None,2015,4,16,19,6,109,False,False,False,False,False,False,1429401600
273,Rossmann_DE,2015-04-26 - 2015-05-02,79,2015-04-26,None,2015,4,17,26,6,116,False,False,False,False,False,False,1430006400
274,Rossmann_DE,2015-05-03 - 2015-05-09,73,2015-05-03,None,2015,5,18,3,6,123,False,False,False,False,False,False,1430611200
275,Rossmann_DE,2015-05-10 - 2015-05-16,67,2015-05-10,None,2015,5,19,10,6,130,False,False,False,False,False,False,1431216000
276,Rossmann_DE,2015-05-17 - 2015-05-23,76,2015-05-17,None,2015,5,20,17,6,137,False,False,False,False,False,False,1431820800
277,Rossmann_DE,2015-05-24 - 2015-05-30,70,2015-05-24,None,2015,5,21,24,6,144,False,False,False,False,False,False,1432425600
278,Rossmann_DE,2015-05-31 - 2015-06-06,77,2015-05-31,None,2015,5,22,31,6,151,True,False,False,False,False,False,1433030400
279,Rossmann_DE,2015-06-07 - 2015-06-13,68,2015-06-07,None,2015,6,23,7,6,158,False,False,False,False,False,False,1433635200
280,Rossmann_DE,2015-06-14 - 2015-06-20,82,2015-06-14,None,2015,6,24,14,6,165,False,False,False,False,False,False,1434240000
281,Rossmann_DE,2015-06-21 - 2015-06-27,71,2015-06-21,None,2015,6,25,21,6,172,False,False,False,False,False,False,1434844800
282,Rossmann_DE,2015-06-28 - 2015-07-04,86,2015-06-28,None,2015,6,26,28,6,179,False,False,False,False,False,False,1435449600
283,Rossmann_DE,2015-07-05 - 2015-07-11,74,2015-07-05,None,2015,7,27,5,6,186,False,False,False,False,False,False,1436054400
284,Rossmann_DE,2015-07-12 - 2015-07-18,86,2015-07-12,None,2015,7,28,12,6,193,False,False,False,False,False,False,1436659200
285,Rossmann_DE,2015-07-19 - 2015-07-25,74,2015-07-19,None,2015,7,29,19,6,200,False,False,False,False,False,False,1437264000
286,Rossmann_DE,2015-07-26 - 2015-08-01,87,2015-07-26,None,2015,7,30,26,6,207,False,False,False,False,False,False,1437868800
287,Rossmann_DE,2015-08-02 - 2015-08-08,83,2015-08-02,None,2015,8,31,2,6,214,False,False,False,False,False,False,1438473600
288,Rossmann_DE,2015-08-09 - 2015-08-15,76,2015-08-09,None,2015,8,32,9,6,221,False,False,False,False,False,False,1439078400
289,Rossmann_DE,2015-08-16 - 2015-08-22,84,2015-08-16,None,2015,8,33,16,6,228,False,False,False,False,False,False,1439683200
290,Rossmann_DE,2015-08-23 - 2015-08-29,70,2015-08-23,None,2015,8,34,23,6,235,False,False,False,False,False,False,1440288000
291,Rossmann_DE,2015-08-30 - 2015-09-05,78,2015-08-30,None,2015,8,35,30,6,242,False,False,False,False,False,False,1440892800
292,Rossmann_DE,2015-09-06 - 2015-09-12,71,2015-09-06,None,2015,9,36,6,6,249,False,False,False,False,False,False,1441497600
293,Rossmann_DE,2015-09-13 - 2015-09-19,77,2015-09-13,None,2015,9,37,13,6,256,False,False,False,False,False,False,1442102400
294,Rossmann_DE,2015-09-20 - 2015-09-26,67,2015-09-20,None,2015,9,38,20,6,263,False,False,False,False,False,False,1442707200
295,Rossmann_DE,2015-09-27 - 2015-10-03,71,2015-09-27,None,2015,9,39,27,6,270,False,False,False,False,False,False,1443312000

In [22]:
store = join_df(store, store_states, "Store")

store = store + store_states

In [23]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")

joined = train+store

In [24]:
joined.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN

In [25]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])

joined = joined + googletrend

In [26]:
joined.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day_y,Dayofweek_y,Dayofyear_y,Is_month_end_y,Is_month_start_y,Is_quarter_end_y,Is_quarter_start_y,Is_year_end_y,Is_year_start_y,Elapsed_y
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600

In [27]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))

In [28]:
joined

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day_DE,Dayofweek_DE,Dayofyear_DE,Is_month_end_DE,Is_month_start_DE,Is_quarter_end_DE,Is_quarter_start_DE,Is_year_end_DE,Is_year_start_DE,Elapsed_DE
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
5,6,5,2015-07-31,5651,589,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
6,7,5,2015-07-31,15344,1414,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
7,8,5,2015-07-31,8492,833,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
8,9,5,2015-07-31,8565,687,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
9,10,5,2015-07-31,7185,681,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
10,11,5,2015-07-31,10457,1236,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
11,12,5,2015-07-31,8959,962,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
12,13,5,2015-07-31,8821,568,1,1,False,0,2015,...,2,6,214,False,False,False,False,False,False,1438473600
13,14,5,2015-07-31,6544,710,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
14,15,5,2015-07-31,9191,766,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
15,16,5,2015-07-31,10231,979,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
16,17,5,2015-07-31,8430,946,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
17,18,5,2015-07-31,10071,936,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
18,19,5,2015-07-31,8234,718,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
19,20,5,2015-07-31,9593,974,1,1,False,0,2015,...,2,6,214,False,False,False,False,False,False,1438473600
20,21,5,2015-07-31,9515,682,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
21,22,5,2015-07-31,6566,633,1,1,False,0,2015,...,2,6,214,False,False,False,False,False,False,1438473600
22,23,5,2015-07-31,7273,560,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
23,24,5,2015-07-31,14190,1082,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
24,25,5,2015-07-31,14180,1586,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
25,26,5,2015-07-31,7818,611,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
26,27,5,2015-07-31,13213,1263,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
27,28,5,2015-07-31,7301,663,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
28,29,5,2015-07-31,9411,737,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
29,30,5,2015-07-31,4776,625,1,1,False,1,2015,...,2,6,214,False,False,False,False,False,False,1438473600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017180,1087,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017181,1088,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017182,1089,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017183,1090,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017184,1091,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017185,1092,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017186,1093,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017187,1094,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017188,1095,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017189,1096,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017190,1097,2,2013-01-01,5961,1405,1,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017191,1098,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017192,1099,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017193,1100,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017194,1101,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017195,1102,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017196,1103,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017197,1104,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017198,1105,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017199,1106,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017200,1107,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017201,1108,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017202,1109,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017203,1110,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017204,1111,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017205,1112,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017206,1113,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017207,1114,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400
1017208,1115,2,2013-01-01,0,0,0,0,True,1,2013,...,6,6,6,False,False,False,False,False,False,1357430400

In [29]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])

joined =  joined +weather

In [30]:
joined.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day_y,Dayofweek_y,Dayofyear_y,Is_month_end_y,Is_month_start_y,Is_quarter_end_y,Is_quarter_start_y,Is_year_end_y,Is_year_start_y,Elapsed_y
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800

In [31]:
#删掉重复行
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: 
                df.drop(c, inplace=True, axis=1)

In [32]:
joined.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,15.0,10.0,24,11,NaN,0.0,1.0,Fog,13,Hessen
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,10.0,10.0,14,11,NaN,0.0,4.0,Fog,309,Thueringen
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,14.0,10.0,14,5,NaN,0.0,2.0,Fog,354,NordrheinWestfalen
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,10.0,10.0,23,16,NaN,0.0,6.0,NaN,282,Berlin
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,10.0,10.0,14,11,NaN,0.0,4.0,NaN,290,Sachsen

## 缺失值填充

In [33]:
#用设定的值填充缺失值，年填为1900，周填为1
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

In [34]:
df['CompetitionOpenSinceYear'][:10]

0    2008
1    2006
2    2013
3    2014
4    2000
5    2009
6    2011
7    1900
8    1900
9    2014
Name: CompetitionOpenSinceYear, dtype: int32

In [35]:
df['CompetitionOpenSinceMonth'][:10]

0     9
1    12
2     4
3    10
4     8
5     9
6    11
7     1
8     1
9     3
Name: CompetitionOpenSinceMonth, dtype: int32

In [36]:
df['Promo2SinceYear'][:10]

0    1900
1    2011
2    1900
3    1900
4    1900
5    1900
6    2012
7    2010
8    2009
9    2011
Name: Promo2SinceYear, dtype: int32

In [37]:
 df['Promo2SinceWeek'][:10]

0     1
1    14
2     1
3     1
4     1
5     1
6     1
7    13
8    45
9    40
Name: Promo2SinceWeek, dtype: int32

In [38]:
#将CompetitionOpenSinceYear，CompetitionOpenSinceMonth组合成具体的日期
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [39]:
df["CompetitionOpenSince"][:10]

0   2008-09-15
1   2006-12-15
2   2013-04-15
3   2014-10-15
4   2000-08-15
5   2009-09-15
6   2011-11-15
7   1900-01-15
8   1900-01-15
9   2014-03-15
Name: CompetitionOpenSince, dtype: datetime64[ns]

In [40]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionOpenSinceYear"] = 0

In [41]:
#将CompetitionDaysOpen转化为CompetitionMonthsOpen，一月按30天算，最大是24个月，超过24个月的按照24个月计算
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9, 16, 17,  7, 15, 22, 11, 13,  2, 23,  0, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5], dtype=int64)

In [42]:
from isoweek import Week

In [43]:
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [44]:
df["Promo2Days"][:10]

0    42262
1     1627
2    42262
3    42262
4    42262
5    42262
6     1354
7     1998
8     2145
9     1445
Name: Promo2Days, dtype: int64

In [45]:
df.Promo2SinceYear

0        1900
1        2011
2        1900
3        1900
4        1900
5        1900
6        2012
7        2010
8        2009
9        2011
10       2011
11       1900
12       2011
13       2014
14       2009
15       2012
16       1900
17       2011
18       1900
19       2011
20       1900
21       2014
22       1900
23       2009
24       1900
25       2012
26       2014
27       1900
28       2013
29       2009
         ...
41058    2010
41059    2011
41060    2009
41061    2014
41062    2013
41063    2010
41064    2011
41065    1900
41066    2013
41067    1900
41068    1900
41069    2014
41070    2014
41071    2014
41072    1900
41073    2013
41074    2011
41075    1900
41076    2014
41077    2013
41078    2011
41079    2013
41080    2013
41081    2010
41082    2012
41083    2013
41084    1900
41085    1900
41086    1900
41087    2012
Name: Promo2SinceYear, Length: 41088, dtype: int32

In [46]:
# for df in (joined,joined_test):
#     df.loc[df.Promo2Days<0, "Promo2Days"] = 0
#     df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
#     df["Promo2Weeks"] = df["Promo2Days"]//7
#     df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
#     df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
#     df.Promo2Weeks.unique()

for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [47]:
df.Promo2SinceYear[:10]

0    1900
1    2011
2    1900
3    1900
4    1900
5    1900
6    2012
7    2010
8    2009
9    2011
Name: Promo2SinceYear, dtype: int32

In [48]:
joined.to_feather( r'./rossmann/'+'joined')  #读出文件
joined_test.to_feather(r'./rossmann/'+'joined_test')

In [49]:
joined.to_csv(r'./rossmann/joined.csv', encoding = 'utf-8', index = False)

## 提取时间序列特征，可以通过行与行之间的关系来提取时间序列的特征，比如
1. 计算一列的平均值
2. 距离下一个观测值的时间间隔
3. 距离上一观测值的时间间隔

In [50]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')  #timedelta时间格式，单位为1天
    last_date = np.datetime64()    #datetime64时间格式：tetime64('2018-09-01T00:00:00.000000')
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: 
            last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

In [51]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [52]:
df = train[columns].append(test[columns])

In [53]:
fld = 'SchoolHoliday'

df = df.sort_values(['Store', 'Date'])

In [54]:
df.head()

              Date  Store  Promo  StateHoliday  SchoolHoliday
1016095 2013-01-01      1      0          True              1
1014980 2013-01-02      1      0         False              1
1013865 2013-01-03      1      0         False              1
1012750 2013-01-04      1      0         False              1
1011635 2013-01-05      1      0         False              1

In [55]:
#After表示距离上一个节假日的时间
#Before表示距离下一个节假日的时间
get_elapsed(fld, 'After')

df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [56]:
df.head()

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday
0,2015-09-17,1,1,False,0,13.0,NaN
856,2015-09-16,1,1,False,0,12.0,NaN
1712,2015-09-15,1,1,False,0,11.0,NaN
2568,2015-09-14,1,1,False,0,10.0,NaN
3424,2015-09-13,1,0,False,0,9.0,NaN

In [57]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [58]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [59]:
#将时间特征Date变为行特征Row

df = df.set_index("Date")

In [60]:
df.head()

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,0,13.0,NaN,105.0,NaN,0.0,0.0
2015-09-16,1,1,False,0,12.0,NaN,104.0,NaN,0.0,0.0
2015-09-15,1,1,False,0,11.0,NaN,103.0,NaN,0.0,0.0
2015-09-14,1,1,False,0,10.0,NaN,102.0,NaN,0.0,0.0
2015-09-13,1,0,False,0,9.0,NaN,101.0,NaN,9.0,-1.0

In [61]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [62]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

In [63]:
df

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,0,13,0,105,0,0,0
2015-09-16,1,1,False,0,12,0,104,0,0,0
2015-09-15,1,1,False,0,11,0,103,0,0,0
2015-09-14,1,1,False,0,10,0,102,0,0,0
2015-09-13,1,0,False,0,9,0,101,0,9,-1
2015-09-12,1,0,False,0,8,0,100,0,8,-2
2015-09-11,1,0,False,0,7,0,99,0,7,-3
2015-09-10,1,0,False,0,6,0,98,0,6,-4
2015-09-09,1,0,False,0,5,0,97,0,5,-5
2015-09-08,1,0,False,0,4,0,96,0,4,-6
2015-09-07,1,0,False,0,3,0,95,0,3,-7
2015-09-06,1,0,False,0,2,0,94,0,2,-8
2015-09-05,1,0,False,0,1,0,93,0,1,-9
2015-09-04,1,1,False,1,0,0,92,0,0,0
2015-09-03,1,1,False,1,0,0,91,0,0,0
2015-09-02,1,1,False,1,0,0,90,0,0,0
2015-09-01,1,1,False,1,0,0,89,0,0,0
2015-08-31,1,1,False,1,0,0,88,0,0,0
2015-08-30,1,0,False,1,0,0,87,0,9,-1
2015-08-29,1,0,False,1,0,0,86,0,8,-2
2015-08-28,1,0,False,1,0,0,85,0,7,-3
2015-08-27,1,0,False,1,0,0,84,0,6,-4
2015-08-26,1,0,False,1,0,0,83,0,5,-5
2015-08-25,1,0,False,1,0,0,82,0,4,-6
2015-08-24,1,0,False,1,0,0,81,0,3,-7
2015-08-23,1,0,False,1,0,0,80,0,2,-8
2015-08-22,1,0,False,1,0,0,79,0,1,-9
2015-08-21,1,1,False,1,0,0,78,0,0,0
2015-08-20,1,1,False,1,0,0,77,0,0,0
2015-08-19,1,1,False,1,0,0,76,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2013-01-30,1115,0,False,0,19,-54,29,-58,5,-5
2013-01-29,1115,0,False,0,18,-55,28,-59,4,-6
2013-01-28,1115,0,False,0,17,-56,27,-60,3,-7
2013-01-27,1115,0,False,0,16,-57,26,-61,2,-8
2013-01-26,1115,0,False,0,15,-58,25,-62,1,-9
2013-01-25,1115,1,False,0,14,-59,24,-63,0,0
2013-01-24,1115,1,False,0,13,-60,23,-64,0,0
2013-01-23,1115,1,False,0,12,-61,22,-65,0,0
2013-01-22,1115,1,False,0,11,-62,21,-66,0,0
2013-01-21,1115,1,False,0,10,-63,20,-67,0,0
2013-01-20,1115,0,False,0,9,-64,19,-68,9,-1
2013-01-19,1115,0,False,0,8,-65,18,-69,8,-2
2013-01-18,1115,0,False,0,7,-66,17,-70,7,-3
2013-01-17,1115,0,False,0,6,-67,16,-71,6,-4
2013-01-16,1115,0,False,0,5,-68,15,-72,5,-5
2013-01-15,1115,0,False,0,4,-69,14,-73,4,-6
2013-01-14,1115,0,False,0,3,-70,13,-74,3,-7
2013-01-13,1115,0,False,0,2,-71,12,-75,2,-8
2013-01-12,1115,0,False,0,1,-72,11,-76,1,-9
2013-01-11,1115,1,False,1,0,0,10,-77,0,0
2013-01-10,1115,1,False,1,0,0,9,-78,0,0
2013-01-09,1115,1,False,1,0,0,8,-79,0,0
2013-01-08,1115,1,False,1,0,0,7,-80,0,0
2013-01-07,1115,1,False,1,0,0,6,-81,0,0
2013-01-06,1115,0,False,1,0,0,5,-82,0,-1
2013-01-05,1115,0,False,1,0,0,4,-83,0,-2
2013-01-04,1115,0,False,1,0,0,3,-84,0,-3
2013-01-03,1115,0,False,1,0,0,2,-85,0,-4
2013-01-02,1115,0,False,1,0,0,1,-86,0,-5
2013-01-01,1115,0,True,1,0,0,0,0,0,-6

In [64]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [65]:
bwd

                   Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2013-01-01     1.0            1.0           1.0    0.0
      2013-01-02     2.0            2.0           1.0    0.0
      2013-01-03     3.0            3.0           1.0    0.0
      2013-01-04     4.0            4.0           1.0    0.0
      2013-01-05     5.0            5.0           1.0    0.0
      2013-01-06     6.0            6.0           1.0    0.0
      2013-01-07     7.0            7.0           1.0    1.0
      2013-01-08     7.0            7.0           0.0    2.0
      2013-01-09     7.0            7.0           0.0    3.0
      2013-01-10     7.0            7.0           0.0    4.0
      2013-01-11     7.0            7.0           0.0    5.0
      2013-01-12     7.0            6.0           0.0    5.0
      2013-01-13     7.0            5.0           0.0    5.0
      2013-01-14     7.0            4.0           0.0    4.0
      2013-01-15     7.0            3.0           0.0    3.0
      2013-01-16     7.0            2.0           0.0    2.0
      2013-01-17     7.0            1.0           0.0    1.0
      2013-01-18     7.0            0.0           0.0    0.0
      2013-01-19     7.0            0.0           0.0    0.0
      2013-01-20     7.0            0.0           0.0    0.0
      2013-01-21     7.0            0.0           0.0    1.0
      2013-01-22     7.0            0.0           0.0    2.0
      2013-01-23     7.0            0.0           0.0    3.0
      2013-01-24     7.0            0.0           0.0    4.0
      2013-01-25     7.0            0.0           0.0    5.0
      2013-01-26     7.0            0.0           0.0    5.0
      2013-01-27     7.0            0.0           0.0    5.0
      2013-01-28     7.0            0.0           0.0    4.0
      2013-01-29     7.0            0.0           0.0    3.0
      2013-01-30     7.0            0.0           0.0    2.0
...                  ...            ...           ...    ...
1115  2015-08-19  7805.0            7.0           0.0    3.0
      2015-08-20  7805.0            7.0           0.0    4.0
      2015-08-21  7805.0            7.0           0.0    5.0
      2015-08-22  7805.0            7.0           0.0    5.0
      2015-08-23  7805.0            7.0           0.0    5.0
      2015-08-24  7805.0            7.0           0.0    4.0
      2015-08-25  7805.0            7.0           0.0    3.0
      2015-08-26  7805.0            7.0           0.0    2.0
      2015-08-27  7805.0            7.0           0.0    1.0
      2015-08-28  7805.0            7.0           0.0    0.0
      2015-08-29  7805.0            7.0           0.0    0.0
      2015-08-30  7805.0            7.0           0.0    0.0
      2015-08-31  7805.0            7.0           0.0    1.0
      2015-09-01  7805.0            7.0           0.0    2.0
      2015-09-02  7805.0            7.0           0.0    3.0
      2015-09-03  7805.0            7.0           0.0    4.0
      2015-09-04  7805.0            7.0           0.0    5.0
      2015-09-05  7805.0            6.0           0.0    5.0
      2015-09-06  7805.0            5.0           0.0    5.0
      2015-09-07  7805.0            4.0           0.0    4.0
      2015-09-08  7805.0            3.0           0.0    3.0
      2015-09-09  7805.0            2.0           0.0    2.0
      2015-09-10  7805.0            1.0           0.0    1.0
      2015-09-11  7805.0            0.0           0.0    0.0
      2015-09-12  7805.0            0.0           0.0    0.0
      2015-09-13  7805.0            0.0           0.0    0.0
      2015-09-14  7805.0            0.0           0.0    1.0
      2015-09-15  7805.0            0.0           0.0    2.0
      2015-09-16  7805.0            0.0           0.0    3.0
      2015-09-17  7805.0            0.0           0.0    4.0

[1058297 rows x 4 columns]

In [66]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [67]:
fwd

                   Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2015-09-17     1.0            0.0           0.0    1.0
      2015-09-16     2.0            0.0           0.0    2.0
      2015-09-15     3.0            0.0           0.0    3.0
      2015-09-14     4.0            0.0           0.0    4.0
      2015-09-13     5.0            0.0           0.0    4.0
      2015-09-12     6.0            0.0           0.0    4.0
      2015-09-11     7.0            0.0           0.0    4.0
      2015-09-10     7.0            0.0           0.0    3.0
      2015-09-09     7.0            0.0           0.0    2.0
      2015-09-08     7.0            0.0           0.0    1.0
      2015-09-07     7.0            0.0           0.0    0.0
      2015-09-06     7.0            0.0           0.0    0.0
      2015-09-05     7.0            0.0           0.0    0.0
      2015-09-04     7.0            1.0           0.0    1.0
      2015-09-03     7.0            2.0           0.0    2.0
      2015-09-02     7.0            3.0           0.0    3.0
      2015-09-01     7.0            4.0           0.0    4.0
      2015-08-31     7.0            5.0           0.0    5.0
      2015-08-30     7.0            6.0           0.0    5.0
      2015-08-29     7.0            7.0           0.0    5.0
      2015-08-28     7.0            7.0           0.0    4.0
      2015-08-27     7.0            7.0           0.0    3.0
      2015-08-26     7.0            7.0           0.0    2.0
      2015-08-25     7.0            7.0           0.0    1.0
      2015-08-24     7.0            7.0           0.0    0.0
      2015-08-23     7.0            7.0           0.0    0.0
      2015-08-22     7.0            7.0           0.0    0.0
      2015-08-21     7.0            7.0           0.0    1.0
      2015-08-20     7.0            7.0           0.0    2.0
      2015-08-19     7.0            7.0           0.0    3.0
...                  ...            ...           ...    ...
1115  2013-01-30  7805.0            0.0           0.0    2.0
      2013-01-29  7805.0            0.0           0.0    1.0
      2013-01-28  7805.0            0.0           0.0    0.0
      2013-01-27  7805.0            0.0           0.0    0.0
      2013-01-26  7805.0            0.0           0.0    0.0
      2013-01-25  7805.0            0.0           0.0    1.0
      2013-01-24  7805.0            0.0           0.0    2.0
      2013-01-23  7805.0            0.0           0.0    3.0
      2013-01-22  7805.0            0.0           0.0    4.0
      2013-01-21  7805.0            0.0           0.0    5.0
      2013-01-20  7805.0            0.0           0.0    5.0
      2013-01-19  7805.0            0.0           0.0    5.0
      2013-01-18  7805.0            0.0           0.0    4.0
      2013-01-17  7805.0            0.0           0.0    3.0
      2013-01-16  7805.0            0.0           0.0    2.0
      2013-01-15  7805.0            0.0           0.0    1.0
      2013-01-14  7805.0            0.0           0.0    0.0
      2013-01-13  7805.0            0.0           0.0    0.0
      2013-01-12  7805.0            0.0           0.0    0.0
      2013-01-11  7805.0            1.0           0.0    1.0
      2013-01-10  7805.0            2.0           0.0    2.0
      2013-01-09  7805.0            3.0           0.0    3.0
      2013-01-08  7805.0            4.0           0.0    4.0
      2013-01-07  7805.0            5.0           0.0    5.0
      2013-01-06  7805.0            6.0           0.0    5.0
      2013-01-05  7805.0            7.0           0.0    5.0
      2013-01-04  7805.0            7.0           0.0    4.0
      2013-01-03  7805.0            7.0           0.0    3.0
      2013-01-02  7805.0            7.0           0.0    2.0
      2013-01-01  7805.0            7.0           1.0    1.0

[1058297 rows x 4 columns]

In [68]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

#回复原来的索引

In [69]:
bwd

         Store       Date  SchoolHoliday  StateHoliday  Promo
0            1 2013-01-01            1.0           1.0    0.0
1            1 2013-01-02            2.0           1.0    0.0
2            1 2013-01-03            3.0           1.0    0.0
3            1 2013-01-04            4.0           1.0    0.0
4            1 2013-01-05            5.0           1.0    0.0
5            1 2013-01-06            6.0           1.0    0.0
6            1 2013-01-07            7.0           1.0    1.0
7            1 2013-01-08            7.0           0.0    2.0
8            1 2013-01-09            7.0           0.0    3.0
9            1 2013-01-10            7.0           0.0    4.0
10           1 2013-01-11            7.0           0.0    5.0
11           1 2013-01-12            6.0           0.0    5.0
12           1 2013-01-13            5.0           0.0    5.0
13           1 2013-01-14            4.0           0.0    4.0
14           1 2013-01-15            3.0           0.0    3.0
15           1 2013-01-16            2.0           0.0    2.0
16           1 2013-01-17            1.0           0.0    1.0
17           1 2013-01-18            0.0           0.0    0.0
18           1 2013-01-19            0.0           0.0    0.0
19           1 2013-01-20            0.0           0.0    0.0
20           1 2013-01-21            0.0           0.0    1.0
21           1 2013-01-22            0.0           0.0    2.0
22           1 2013-01-23            0.0           0.0    3.0
23           1 2013-01-24            0.0           0.0    4.0
24           1 2013-01-25            0.0           0.0    5.0
25           1 2013-01-26            0.0           0.0    5.0
26           1 2013-01-27            0.0           0.0    5.0
27           1 2013-01-28            0.0           0.0    4.0
28           1 2013-01-29            0.0           0.0    3.0
29           1 2013-01-30            0.0           0.0    2.0
...        ...        ...            ...           ...    ...
1058267   1115 2015-08-19            7.0           0.0    3.0
1058268   1115 2015-08-20            7.0           0.0    4.0
1058269   1115 2015-08-21            7.0           0.0    5.0
1058270   1115 2015-08-22            7.0           0.0    5.0
1058271   1115 2015-08-23            7.0           0.0    5.0
1058272   1115 2015-08-24            7.0           0.0    4.0
1058273   1115 2015-08-25            7.0           0.0    3.0
1058274   1115 2015-08-26            7.0           0.0    2.0
1058275   1115 2015-08-27            7.0           0.0    1.0
1058276   1115 2015-08-28            7.0           0.0    0.0
1058277   1115 2015-08-29            7.0           0.0    0.0
1058278   1115 2015-08-30            7.0           0.0    0.0
1058279   1115 2015-08-31            7.0           0.0    1.0
1058280   1115 2015-09-01            7.0           0.0    2.0
1058281   1115 2015-09-02            7.0           0.0    3.0
1058282   1115 2015-09-03            7.0           0.0    4.0
1058283   1115 2015-09-04            7.0           0.0    5.0
1058284   1115 2015-09-05            6.0           0.0    5.0
1058285   1115 2015-09-06            5.0           0.0    5.0
1058286   1115 2015-09-07            4.0           0.0    4.0
1058287   1115 2015-09-08            3.0           0.0    3.0
1058288   1115 2015-09-09            2.0           0.0    2.0
1058289   1115 2015-09-10            1.0           0.0    1.0
1058290   1115 2015-09-11            0.0           0.0    0.0
1058291   1115 2015-09-12            0.0           0.0    0.0
1058292   1115 2015-09-13            0.0           0.0    0.0
1058293   1115 2015-09-14            0.0           0.0    1.0
1058294   1115 2015-09-15            0.0           0.0    2.0
1058295   1115 2015-09-16            0.0           0.0    3.0
1058296   1115 2015-09-17            0.0           0.0    4.0

[1058297 rows x 5 columns]

In [70]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [71]:
df

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,0,13,0,105,0,0,0
2015-09-16,1,1,False,0,12,0,104,0,0,0
2015-09-15,1,1,False,0,11,0,103,0,0,0
2015-09-14,1,1,False,0,10,0,102,0,0,0
2015-09-13,1,0,False,0,9,0,101,0,9,-1
2015-09-12,1,0,False,0,8,0,100,0,8,-2
2015-09-11,1,0,False,0,7,0,99,0,7,-3
2015-09-10,1,0,False,0,6,0,98,0,6,-4
2015-09-09,1,0,False,0,5,0,97,0,5,-5
2015-09-08,1,0,False,0,4,0,96,0,4,-6
2015-09-07,1,0,False,0,3,0,95,0,3,-7
2015-09-06,1,0,False,0,2,0,94,0,2,-8
2015-09-05,1,0,False,0,1,0,93,0,1,-9
2015-09-04,1,1,False,1,0,0,92,0,0,0
2015-09-03,1,1,False,1,0,0,91,0,0,0
2015-09-02,1,1,False,1,0,0,90,0,0,0
2015-09-01,1,1,False,1,0,0,89,0,0,0
2015-08-31,1,1,False,1,0,0,88,0,0,0
2015-08-30,1,0,False,1,0,0,87,0,9,-1
2015-08-29,1,0,False,1,0,0,86,0,8,-2
2015-08-28,1,0,False,1,0,0,85,0,7,-3
2015-08-27,1,0,False,1,0,0,84,0,6,-4
2015-08-26,1,0,False,1,0,0,83,0,5,-5
2015-08-25,1,0,False,1,0,0,82,0,4,-6
2015-08-24,1,0,False,1,0,0,81,0,3,-7
2015-08-23,1,0,False,1,0,0,80,0,2,-8
2015-08-22,1,0,False,1,0,0,79,0,1,-9
2015-08-21,1,1,False,1,0,0,78,0,0,0
2015-08-20,1,1,False,1,0,0,77,0,0,0
2015-08-19,1,1,False,1,0,0,76,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2013-01-30,1115,0,False,0,19,-54,29,-58,5,-5
2013-01-29,1115,0,False,0,18,-55,28,-59,4,-6
2013-01-28,1115,0,False,0,17,-56,27,-60,3,-7
2013-01-27,1115,0,False,0,16,-57,26,-61,2,-8
2013-01-26,1115,0,False,0,15,-58,25,-62,1,-9
2013-01-25,1115,1,False,0,14,-59,24,-63,0,0
2013-01-24,1115,1,False,0,13,-60,23,-64,0,0
2013-01-23,1115,1,False,0,12,-61,22,-65,0,0
2013-01-22,1115,1,False,0,11,-62,21,-66,0,0
2013-01-21,1115,1,False,0,10,-63,20,-67,0,0
2013-01-20,1115,0,False,0,9,-64,19,-68,9,-1
2013-01-19,1115,0,False,0,8,-65,18,-69,8,-2
2013-01-18,1115,0,False,0,7,-66,17,-70,7,-3
2013-01-17,1115,0,False,0,6,-67,16,-71,6,-4
2013-01-16,1115,0,False,0,5,-68,15,-72,5,-5
2013-01-15,1115,0,False,0,4,-69,14,-73,4,-6
2013-01-14,1115,0,False,0,3,-70,13,-74,3,-7
2013-01-13,1115,0,False,0,2,-71,12,-75,2,-8
2013-01-12,1115,0,False,0,1,-72,11,-76,1,-9
2013-01-11,1115,1,False,1,0,0,10,-77,0,0
2013-01-10,1115,1,False,1,0,0,9,-78,0,0
2013-01-09,1115,1,False,1,0,0,8,-79,0,0
2013-01-08,1115,1,False,1,0,0,7,-80,0,0
2013-01-07,1115,1,False,1,0,0,6,-81,0,0
2013-01-06,1115,0,False,1,0,0,5,-82,0,-1
2013-01-05,1115,0,False,1,0,0,4,-83,0,-2
2013-01-04,1115,0,False,1,0,0,3,-84,0,-3
2013-01-03,1115,0,False,1,0,0,2,-85,0,-4
2013-01-02,1115,0,False,1,0,0,1,-86,0,-5
2013-01-01,1115,0,True,1,0,0,0,0,0,-6

In [72]:
df.reset_index(inplace=True)

In [73]:
df.head()

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
0,2015-09-17,1,1,False,0,13,0,105,0,0,0
1,2015-09-16,1,1,False,0,12,0,104,0,0,0
2,2015-09-15,1,1,False,0,11,0,103,0,0,0
3,2015-09-14,1,1,False,0,10,0,102,0,0,0
4,2015-09-13,1,0,False,0,9,0,101,0,9,-1

In [74]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])

In [75]:
df

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw
0,2015-09-17,1,1,False,0,13,0,105,0,0,0,0.0,0.0,4.0
1,2015-09-16,1,1,False,0,12,0,104,0,0,0,0.0,0.0,3.0
2,2015-09-15,1,1,False,0,11,0,103,0,0,0,0.0,0.0,2.0
3,2015-09-14,1,1,False,0,10,0,102,0,0,0,0.0,0.0,1.0
4,2015-09-13,1,0,False,0,9,0,101,0,9,-1,0.0,0.0,0.0
5,2015-09-12,1,0,False,0,8,0,100,0,8,-2,0.0,0.0,0.0
6,2015-09-11,1,0,False,0,7,0,99,0,7,-3,0.0,0.0,0.0
7,2015-09-10,1,0,False,0,6,0,98,0,6,-4,1.0,0.0,1.0
8,2015-09-09,1,0,False,0,5,0,97,0,5,-5,2.0,0.0,2.0
9,2015-09-08,1,0,False,0,4,0,96,0,4,-6,3.0,0.0,3.0
10,2015-09-07,1,0,False,0,3,0,95,0,3,-7,4.0,0.0,4.0
11,2015-09-06,1,0,False,0,2,0,94,0,2,-8,5.0,0.0,5.0
12,2015-09-05,1,0,False,0,1,0,93,0,1,-9,6.0,0.0,5.0
13,2015-09-04,1,1,False,1,0,0,92,0,0,0,7.0,0.0,5.0
14,2015-09-03,1,1,False,1,0,0,91,0,0,0,7.0,0.0,4.0
15,2015-09-02,1,1,False,1,0,0,90,0,0,0,7.0,0.0,3.0
16,2015-09-01,1,1,False,1,0,0,89,0,0,0,7.0,0.0,2.0
17,2015-08-31,1,1,False,1,0,0,88,0,0,0,7.0,0.0,1.0
18,2015-08-30,1,0,False,1,0,0,87,0,9,-1,7.0,0.0,0.0
19,2015-08-29,1,0,False,1,0,0,86,0,8,-2,7.0,0.0,0.0
20,2015-08-28,1,0,False,1,0,0,85,0,7,-3,7.0,0.0,0.0
21,2015-08-27,1,0,False,1,0,0,84,0,6,-4,7.0,0.0,1.0
22,2015-08-26,1,0,False,1,0,0,83,0,5,-5,7.0,0.0,2.0
23,2015-08-25,1,0,False,1,0,0,82,0,4,-6,7.0,0.0,3.0
24,2015-08-24,1,0,False,1,0,0,81,0,3,-7,7.0,0.0,4.0
25,2015-08-23,1,0,False,1,0,0,80,0,2,-8,7.0,0.0,5.0
26,2015-08-22,1,0,False,1,0,0,79,0,1,-9,7.0,0.0,5.0
27,2015-08-21,1,1,False,1,0,0,78,0,0,0,7.0,0.0,5.0
28,2015-08-20,1,1,False,1,0,0,77,0,0,0,7.0,0.0,4.0
29,2015-08-19,1,1,False,1,0,0,76,0,0,0,7.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058267,2013-01-30,1115,0,False,0,19,-54,29,-58,5,-5,0.0,0.0,2.0
1058268,2013-01-29,1115,0,False,0,18,-55,28,-59,4,-6,0.0,0.0,3.0
1058269,2013-01-28,1115,0,False,0,17,-56,27,-60,3,-7,0.0,0.0,4.0
1058270,2013-01-27,1115,0,False,0,16,-57,26,-61,2,-8,0.0,0.0,5.0
1058271,2013-01-26,1115,0,False,0,15,-58,25,-62,1,-9,0.0,0.0,5.0
1058272,2013-01-25,1115,1,False,0,14,-59,24,-63,0,0,0.0,0.0,5.0
1058273,2013-01-24,1115,1,False,0,13,-60,23,-64,0,0,0.0,0.0,4.0
1058274,2013-01-23,1115,1,False,0,12,-61,22,-65,0,0,0.0,0.0,3.0
1058275,2013-01-22,1115,1,False,0,11,-62,21,-66,0,0,0.0,0.0,2.0
1058276,2013-01-21,1115,1,False,0,10,-63,20,-67,0,0,0.0,0.0,1.0
1058277,2013-01-20,1115,0,False,0,9,-64,19,-68,9,-1,0.0,0.0,0.0
1058278,2013-01-19,1115,0,False,0,8,-65,18,-69,8,-2,0.0,0.0,0.0
1058279,2013-01-18,1115,0,False,0,7,-66,17,-70,7,-3,0.0,0.0,0.0
1058280,2013-01-17,1115,0,False,0,6,-67,16,-71,6,-4,1.0,0.0,1.0
1058281,2013-01-16,1115,0,False,0,5,-68,15,-72,5,-5,2.0,0.0,2.0
1058282,2013-01-15,1115,0,False,0,4,-69,14,-73,4,-6,3.0,0.0,3.0
1058283,2013-01-14,1115,0,False,0,3,-70,13,-74,3,-7,4.0,0.0,4.0
1058284,2013-01-13,1115,0,False,0,2,-71,12,-75,2,-8,5.0,0.0,5.0
1058285,2013-01-12,1115,0,False,0,1,-72,11,-76,1,-9,6.0,0.0,5.0
1058286,2013-01-11,1115,1,False,1,0,0,10,-77,0,0,7.0,0.0,5.0
1058287,2013-01-10,1115,1,False,1,0,0,9,-78,0,0,7.0,0.0,4.0
1058288,2013-01-09,1115,1,False,1,0,0,8,-79,0,0,7.0,0.0,3.0
1058289,2013-01-08,1115,1,False,1,0,0,7,-80,0,0,7.0,0.0,2.0
1058290,2013-01-07,1115,1,False,1,0,0,6,-81,0,0,7.0,1.0,1.0
1058291,2013-01-06,1115,0,False,1,0,0,5,-82,0,-1,6.0,1.0,0.0
1058292,2013-01-05,1115,0,False,1,0,0,4,-83,0,-2,5.0,1.0,0.0
1058293,2013-01-04,1115,0,False,1,0,0,3,-84,0,-3,4.0,1.0,0.0
1058294,2013-01-03,1115,0,False,1,0,0,2,-85,0,-4,3.0,1.0,0.0
1058295,2013-01-02,1115,0,False,1,0,0,1,-86,0,-5,2.0,1.0,0.0
1058296,2013-01-01,1115,0,True,1,0,0,0,0,0,-6,1.0,1.0,0.0

In [76]:
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [77]:
df

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,1,False,0,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,1,False,0,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,1,False,0,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,1,False,0,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,0,False,0,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0
5,2015-09-12,1,0,False,0,8,0,100,0,8,-2,0.0,0.0,0.0,0.0,0.0,4.0
6,2015-09-11,1,0,False,0,7,0,99,0,7,-3,0.0,0.0,0.0,0.0,0.0,4.0
7,2015-09-10,1,0,False,0,6,0,98,0,6,-4,1.0,0.0,1.0,0.0,0.0,3.0
8,2015-09-09,1,0,False,0,5,0,97,0,5,-5,2.0,0.0,2.0,0.0,0.0,2.0
9,2015-09-08,1,0,False,0,4,0,96,0,4,-6,3.0,0.0,3.0,0.0,0.0,1.0
10,2015-09-07,1,0,False,0,3,0,95,0,3,-7,4.0,0.0,4.0,0.0,0.0,0.0
11,2015-09-06,1,0,False,0,2,0,94,0,2,-8,5.0,0.0,5.0,0.0,0.0,0.0
12,2015-09-05,1,0,False,0,1,0,93,0,1,-9,6.0,0.0,5.0,0.0,0.0,0.0
13,2015-09-04,1,1,False,1,0,0,92,0,0,0,7.0,0.0,5.0,1.0,0.0,1.0
14,2015-09-03,1,1,False,1,0,0,91,0,0,0,7.0,0.0,4.0,2.0,0.0,2.0
15,2015-09-02,1,1,False,1,0,0,90,0,0,0,7.0,0.0,3.0,3.0,0.0,3.0
16,2015-09-01,1,1,False,1,0,0,89,0,0,0,7.0,0.0,2.0,4.0,0.0,4.0
17,2015-08-31,1,1,False,1,0,0,88,0,0,0,7.0,0.0,1.0,5.0,0.0,5.0
18,2015-08-30,1,0,False,1,0,0,87,0,9,-1,7.0,0.0,0.0,6.0,0.0,5.0
19,2015-08-29,1,0,False,1,0,0,86,0,8,-2,7.0,0.0,0.0,7.0,0.0,5.0
20,2015-08-28,1,0,False,1,0,0,85,0,7,-3,7.0,0.0,0.0,7.0,0.0,4.0
21,2015-08-27,1,0,False,1,0,0,84,0,6,-4,7.0,0.0,1.0,7.0,0.0,3.0
22,2015-08-26,1,0,False,1,0,0,83,0,5,-5,7.0,0.0,2.0,7.0,0.0,2.0
23,2015-08-25,1,0,False,1,0,0,82,0,4,-6,7.0,0.0,3.0,7.0,0.0,1.0
24,2015-08-24,1,0,False,1,0,0,81,0,3,-7,7.0,0.0,4.0,7.0,0.0,0.0
25,2015-08-23,1,0,False,1,0,0,80,0,2,-8,7.0,0.0,5.0,7.0,0.0,0.0
26,2015-08-22,1,0,False,1,0,0,79,0,1,-9,7.0,0.0,5.0,7.0,0.0,0.0
27,2015-08-21,1,1,False,1,0,0,78,0,0,0,7.0,0.0,5.0,7.0,0.0,1.0
28,2015-08-20,1,1,False,1,0,0,77,0,0,0,7.0,0.0,4.0,7.0,0.0,2.0
29,2015-08-19,1,1,False,1,0,0,76,0,0,0,7.0,0.0,3.0,7.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058267,2013-01-30,1115,0,False,0,19,-54,29,-58,5,-5,0.0,0.0,2.0,0.0,0.0,2.0
1058268,2013-01-29,1115,0,False,0,18,-55,28,-59,4,-6,0.0,0.0,3.0,0.0,0.0,1.0
1058269,2013-01-28,1115,0,False,0,17,-56,27,-60,3,-7,0.0,0.0,4.0,0.0,0.0,0.0
1058270,2013-01-27,1115,0,False,0,16,-57,26,-61,2,-8,0.0,0.0,5.0,0.0,0.0,0.0
1058271,2013-01-26,1115,0,False,0,15,-58,25,-62,1,-9,0.0,0.0,5.0,0.0,0.0,0.0
1058272,2013-01-25,1115,1,False,0,14,-59,24,-63,0,0,0.0,0.0,5.0,0.0,0.0,1.0
1058273,2013-01-24,1115,1,False,0,13,-60,23,-64,0,0,0.0,0.0,4.0,0.0,0.0,2.0
1058274,2013-01-23,1115,1,False,0,12,-61,22,-65,0,0,0.0,0.0,3.0,0.0,0.0,3.0
1058275,2013-01-22,1115,1,False,0,11,-62,21,-66,0,0,0.0,0.0,2.0,0.0,0.0,4.0
1058276,2013-01-21,1115,1,False,0,10,-63,20,-67,0,0,0.0,0.0,1.0,0.0,0.0,5.0
1058277,2013-01-20,1115,0,False,0,9,-64,19,-68,9,-1,0.0,0.0,0.0,0.0,0.0,5.0
1058278,2013-01-19,1115,0,False,0,8,-65,18,-69,8,-2,0.0,0.0,0.0,0.0,0.0,5.0
1058279,2013-01-18,1115,0,False,0,7,-66,17,-70,7,-3,0.0,0.0,0.0,0.0,0.0,4.0
1058280,2013-01-17,1115,0,False,0,6,-67,16,-71,6,-4,1.0,0.0,1.0,0.0,0.0,3.0
1058281,2013-01-16,1115,0,False,0,5,-68,15,-72,5,-5,2.0,0.0,2.0,0.0,0.0,2.0
1058282,2013-01-15,1115,0,False,0,4,-69,14,-73,4,-6,3.0,0.0,3.0,0.0,0.0,1.0
1058283,2013-01-14,1115,0,False,0,3,-70,13,-74,3,-7,4.0,0.0,4.0,0.0,0.0,0.0
1058284,2013-01-13,1115,0,False,0,2,-71,12,-75,2,-8,5.0,0.0,5.0,0.0,0.0,0.0
1058285,2013-01-12,1115,0,False,0,1,-72,11,-76,1,-9,6.0,0.0,5.0,0.0,0.0,0.0
1058286,2013-01-11,1115,1,False,1,0,0,10,-77,0,0,7.0,0.0,5.0,1.0,0.0,1.0
1058287,2013-01-10,1115,1,False,1,0,0,9,-78,0,0,7.0,0.0,4.0,2.0,0.0,2.0
1058288,2013-01-09,1115,1,False,1,0,0,8,-79,0,0,7.0,0.0,3.0,3.0,0.0,3.0
1058289,2013-01-08,1115,1,False,1,0,0,7,-80,0,0,7.0,0.0,2.0,4.0,0.0,4.0
1058290,2013-01-07,1115,1,False,1,0,0,6,-81,0,0,7.0,1.0,1.0,5.0,0.0,5.0
1058291,2013-01-06,1115,0,False,1,0,0,5,-82,0,-1,6.0,1.0,0.0,6.0,0.0,5.0
1058292,2013-01-05,1115,0,False,1,0,0,4,-83,0,-2,5.0,1.0,0.0,7.0,0.0,5.0
1058293,2013-01-04,1115,0,False,1,0,0,3,-84,0,-3,4.0,1.0,0.0,7.0,0.0,4.0
1058294,2013-01-03,1115,0,False,1,0,0,2,-85,0,-4,3.0,1.0,0.0,7.0,0.0,3.0
1058295,2013-01-02,1115,0,False,1,0,0,1,-86,0,-5,2.0,1.0,0.0,7.0,0.0,2.0
1058296,2013-01-01,1115,0,True,1,0,0,0,0,0,-6,1.0,1.0,0.0,7.0,1.0,1.0

In [78]:
df.drop(columns,1,inplace=True)  #删掉columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [79]:
df

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0
5,2015-09-12,1,8,0,100,0,8,-2,0.0,0.0,0.0,0.0,0.0,4.0
6,2015-09-11,1,7,0,99,0,7,-3,0.0,0.0,0.0,0.0,0.0,4.0
7,2015-09-10,1,6,0,98,0,6,-4,1.0,0.0,1.0,0.0,0.0,3.0
8,2015-09-09,1,5,0,97,0,5,-5,2.0,0.0,2.0,0.0,0.0,2.0
9,2015-09-08,1,4,0,96,0,4,-6,3.0,0.0,3.0,0.0,0.0,1.0
10,2015-09-07,1,3,0,95,0,3,-7,4.0,0.0,4.0,0.0,0.0,0.0
11,2015-09-06,1,2,0,94,0,2,-8,5.0,0.0,5.0,0.0,0.0,0.0
12,2015-09-05,1,1,0,93,0,1,-9,6.0,0.0,5.0,0.0,0.0,0.0
13,2015-09-04,1,0,0,92,0,0,0,7.0,0.0,5.0,1.0,0.0,1.0
14,2015-09-03,1,0,0,91,0,0,0,7.0,0.0,4.0,2.0,0.0,2.0
15,2015-09-02,1,0,0,90,0,0,0,7.0,0.0,3.0,3.0,0.0,3.0
16,2015-09-01,1,0,0,89,0,0,0,7.0,0.0,2.0,4.0,0.0,4.0
17,2015-08-31,1,0,0,88,0,0,0,7.0,0.0,1.0,5.0,0.0,5.0
18,2015-08-30,1,0,0,87,0,9,-1,7.0,0.0,0.0,6.0,0.0,5.0
19,2015-08-29,1,0,0,86,0,8,-2,7.0,0.0,0.0,7.0,0.0,5.0
20,2015-08-28,1,0,0,85,0,7,-3,7.0,0.0,0.0,7.0,0.0,4.0
21,2015-08-27,1,0,0,84,0,6,-4,7.0,0.0,1.0,7.0,0.0,3.0
22,2015-08-26,1,0,0,83,0,5,-5,7.0,0.0,2.0,7.0,0.0,2.0
23,2015-08-25,1,0,0,82,0,4,-6,7.0,0.0,3.0,7.0,0.0,1.0
24,2015-08-24,1,0,0,81,0,3,-7,7.0,0.0,4.0,7.0,0.0,0.0
25,2015-08-23,1,0,0,80,0,2,-8,7.0,0.0,5.0,7.0,0.0,0.0
26,2015-08-22,1,0,0,79,0,1,-9,7.0,0.0,5.0,7.0,0.0,0.0
27,2015-08-21,1,0,0,78,0,0,0,7.0,0.0,5.0,7.0,0.0,1.0
28,2015-08-20,1,0,0,77,0,0,0,7.0,0.0,4.0,7.0,0.0,2.0
29,2015-08-19,1,0,0,76,0,0,0,7.0,0.0,3.0,7.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058267,2013-01-30,1115,19,-54,29,-58,5,-5,0.0,0.0,2.0,0.0,0.0,2.0
1058268,2013-01-29,1115,18,-55,28,-59,4,-6,0.0,0.0,3.0,0.0,0.0,1.0
1058269,2013-01-28,1115,17,-56,27,-60,3,-7,0.0,0.0,4.0,0.0,0.0,0.0
1058270,2013-01-27,1115,16,-57,26,-61,2,-8,0.0,0.0,5.0,0.0,0.0,0.0
1058271,2013-01-26,1115,15,-58,25,-62,1,-9,0.0,0.0,5.0,0.0,0.0,0.0
1058272,2013-01-25,1115,14,-59,24,-63,0,0,0.0,0.0,5.0,0.0,0.0,1.0
1058273,2013-01-24,1115,13,-60,23,-64,0,0,0.0,0.0,4.0,0.0,0.0,2.0
1058274,2013-01-23,1115,12,-61,22,-65,0,0,0.0,0.0,3.0,0.0,0.0,3.0
1058275,2013-01-22,1115,11,-62,21,-66,0,0,0.0,0.0,2.0,0.0,0.0,4.0
1058276,2013-01-21,1115,10,-63,20,-67,0,0,0.0,0.0,1.0,0.0,0.0,5.0
1058277,2013-01-20,1115,9,-64,19,-68,9,-1,0.0,0.0,0.0,0.0,0.0,5.0
1058278,2013-01-19,1115,8,-65,18,-69,8,-2,0.0,0.0,0.0,0.0,0.0,5.0
1058279,2013-01-18,1115,7,-66,17,-70,7,-3,0.0,0.0,0.0,0.0,0.0,4.0
1058280,2013-01-17,1115,6,-67,16,-71,6,-4,1.0,0.0,1.0,0.0,0.0,3.0
1058281,2013-01-16,1115,5,-68,15,-72,5,-5,2.0,0.0,2.0,0.0,0.0,2.0
1058282,2013-01-15,1115,4,-69,14,-73,4,-6,3.0,0.0,3.0,0.0,0.0,1.0
1058283,2013-01-14,1115,3,-70,13,-74,3,-7,4.0,0.0,4.0,0.0,0.0,0.0
1058284,2013-01-13,1115,2,-71,12,-75,2,-8,5.0,0.0,5.0,0.0,0.0,0.0
1058285,2013-01-12,1115,1,-72,11,-76,1,-9,6.0,0.0,5.0,0.0,0.0,0.0
1058286,2013-01-11,1115,0,0,10,-77,0,0,7.0,0.0,5.0,1.0,0.0,1.0
1058287,2013-01-10,1115,0,0,9,-78,0,0,7.0,0.0,4.0,2.0,0.0,2.0
1058288,2013-01-09,1115,0,0,8,-79,0,0,7.0,0.0,3.0,3.0,0.0,3.0
1058289,2013-01-08,1115,0,0,7,-80,0,0,7.0,0.0,2.0,4.0,0.0,4.0
1058290,2013-01-07,1115,0,0,6,-81,0,0,7.0,1.0,1.0,5.0,0.0,5.0
1058291,2013-01-06,1115,0,0,5,-82,0,-1,6.0,1.0,0.0,6.0,0.0,5.0
1058292,2013-01-05,1115,0,0,4,-83,0,-2,5.0,1.0,0.0,7.0,0.0,5.0
1058293,2013-01-04,1115,0,0,3,-84,0,-3,4.0,1.0,0.0,7.0,0.0,4.0
1058294,2013-01-03,1115,0,0,2,-85,0,-4,3.0,1.0,0.0,7.0,0.0,3.0
1058295,2013-01-02,1115,0,0,1,-86,0,-5,2.0,1.0,0.0,7.0,0.0,2.0
1058296,2013-01-01,1115,0,0,0,0,0,-6,1.0,1.0,0.0,7.0,1.0,1.0

In [80]:
df.to_feather(r'./rossmann/'+'df')

In [81]:
df = pd.read_feather(r'./rossmann/'+'df')

In [82]:
df["Date"].head()

0   2015-09-17
1   2015-09-16
2   2015-09-15
3   2015-09-14
4   2015-09-13
Name: Date, dtype: datetime64[ns]

In [83]:
df["Date"] = pd.to_datetime(df.Date)

In [84]:
df["Date"].head()

0   2015-09-17
1   2015-09-16
2   2015-09-15
3   2015-09-14
4   2015-09-13
Name: Date, dtype: datetime64[ns]

In [85]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [86]:
joined = join_df(joined, df, ['Store', 'Date'])

In [87]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

In [88]:
joined = joined[joined.Sales!=0]

In [89]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)  #生成从0开始的index，便于后面embedding

In [90]:
joined_test

,index,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Year,...,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,0,1,1,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,1,2,3,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
2,2,3,7,4,2015-09-17,1.0,1,False,0,2015,...,115,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
3,3,4,8,4,2015-09-17,1.0,1,False,0,2015,...,115,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
4,4,5,9,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
5,5,6,10,4,2015-09-17,1.0,1,False,0,2015,...,115,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
6,6,7,11,4,2015-09-17,1.0,1,False,0,2015,...,115,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
7,7,8,12,4,2015-09-17,1.0,1,False,0,2015,...,115,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
8,8,9,13,4,2015-09-17,1.0,1,False,0,2015,...,33,0,0,0,2.0,0.0,4.0,0.0,0.0,1.0
9,9,10,14,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
10,10,11,15,4,2015-09-17,1.0,1,False,0,2015,...,115,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
11,11,12,16,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,1.0,0.0,4.0,0.0,0.0,1.0
12,12,13,19,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
13,13,14,20,4,2015-09-17,1.0,1,False,0,2015,...,33,0,0,0,2.0,0.0,4.0,0.0,0.0,1.0
14,14,15,21,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,1.0,0.0,4.0,0.0,0.0,1.0
15,15,16,22,4,2015-09-17,1.0,1,False,0,2015,...,33,0,0,0,2.0,0.0,4.0,0.0,0.0,1.0
16,16,17,23,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
17,17,18,24,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
18,18,19,25,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
19,19,20,27,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
20,20,21,29,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
21,21,22,30,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
22,22,23,31,4,2015-09-17,1.0,1,False,0,2015,...,115,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
23,23,24,32,4,2015-09-17,1.0,1,False,0,2015,...,33,0,0,0,2.0,0.0,4.0,0.0,0.0,1.0
24,24,25,33,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
25,25,26,35,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
26,26,27,36,4,2015-09-17,1.0,1,False,0,2015,...,33,0,0,0,2.0,0.0,4.0,0.0,0.0,1.0
27,27,28,38,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
28,28,29,39,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
29,29,30,40,4,2015-09-17,1.0,1,False,0,2015,...,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,41058,41059,1077,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41059,41059,41060,1078,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,2.0,0.0,5.0,5.0,0.0,5.0
41060,41060,41061,1079,6,2015-08-01,1.0,0,False,1,2015,...,58,0,1,-2,6.0,0.0,5.0,7.0,0.0,5.0
41061,41061,41062,1080,6,2015-08-01,1.0,0,False,0,2015,...,58,-14,1,-2,0.0,0.0,5.0,5.0,0.0,5.0
41062,41062,41063,1083,6,2015-08-01,1.0,0,False,1,2015,...,58,0,1,-2,6.0,0.0,5.0,7.0,0.0,5.0
41063,41063,41064,1084,6,2015-08-01,1.0,0,False,1,2015,...,58,0,1,-2,6.0,0.0,5.0,7.0,0.0,5.0
41064,41064,41065,1086,6,2015-08-01,1.0,0,False,1,2015,...,58,0,1,-2,6.0,0.0,5.0,7.0,0.0,5.0
41065,41065,41066,1087,6,2015-08-01,1.0,0,False,1,2015,...,68,0,1,-2,7.0,0.0,5.0,7.0,0.0,5.0
41066,41066,41067,1088,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41067,41067,41068,1089,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41068,41068,41069,1091,6,2015-08-01,1.0,0,False,0,2015,...,68,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41069,41069,41070,1092,6,2015-08-01,1.0,0,False,0,2015,...,58,-14,1,-2,0.0,0.0,5.0,5.0,0.0,5.0
41070,41070,41071,1094,6,2015-08-01,1.0,0,False,0,2015,...,58,-14,1,-2,0.0,0.0,5.0,5.0,0.0,5.0
41071,41071,41072,1096,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41072,41072,41073,1097,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41073,41073,41074,1099,6,2015-08-01,1.0,0,False,0,2015,...,68,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41074,41074,41075,1100,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41075,41075,41076,1101,6,2015-08-01,1.0,0,False,0,2015,...,68,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41076,41076,41077,1102,6,2015-08-01,1.0,0,False,0,2015,...,58,-14,1,-2,0.0,0.0,5.0,5.0,0.0,5.0
41077,41077,41078,1103,6,2015-08-01,1.0,0,False,1,2015,...,58,0,1,-2,6.0,0.0,5.0,7.0,0.0,5.0
41078,41078,41079,1104,6,2015-08-01,1.0,0,False,0,2015,...,58,-14,1,-2,0.0,0.0,5.0,5.0,0.0,5.0
41079,41079,41080,1105,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41080,41080,41081,1106,6,2015-08-01,1.0,0,False,0,2015,...,68,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41081,41081,41082,1107,6,2015-08-01,1.0,0,False,0,2015,...,58,-14,1,-2,0.0,0.0,5.0,5.0,0.0,5.0
41082,41082,41083,1109,6,2015-08-01,1.0,0,False,0,2015,...,58,-14,1,-2,0.0,0.0,5.0,5.0,0.0,5.0
41083,41083,41084,1111,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41084,41084,41085,1112,6,2015-08-01,1.0,0,False,0,2015,...,58,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41085,41085,41086,1113,6,2015-08-01,1.0,0,False,0,2015,...,68,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41086,41086,41087,1114,6,2015-08-01,1.0,0,False,0,2015,...,68,0,1,-2,5.0,0.0,5.0,5.0,0.0,5.0
41087,41087,41088,1115,6,2015-08-01,1.0,0,False,1,2015,...,58,0,1,-2,6.0,0.0,5.0,7.0,0.0,5.0

## 构造特征列

In [91]:
joined.to_feather(r'./rossmann/'+'joined')
joined_test.to_feather(r'./rossmann/'+'joined_test')

In [92]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw', 'StateHoliday_bw',
    'SchoolHoliday_fw', 'SchoolHoliday_bw']

contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

In [93]:
len(contin_vars)

16

In [94]:
dep = 'Sales'

In [95]:
joined = joined[cat_vars+contin_vars+[dep, 'Date']].copy()

In [96]:
joined

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday,Sales,Date
0,1,5,2015,7,31,False,24,0,c,a,...,11,1.0,85,83,57,0,1,1,5263,2015-07-31
1,2,5,2015,7,31,False,24,25,a,a,...,11,4.0,80,83,67,0,1,1,6064,2015-07-31
2,3,5,2015,7,31,False,24,25,a,a,...,5,2.0,86,83,57,0,1,1,8314,2015-07-31
3,4,5,2015,7,31,False,24,0,c,c,...,16,6.0,74,83,67,0,1,1,13995,2015-07-31
4,5,5,2015,7,31,False,3,0,a,a,...,11,4.0,82,83,57,0,1,1,4822,2015-07-31
5,6,5,2015,7,31,False,19,0,a,a,...,11,4.0,82,83,57,0,1,1,5651,2015-07-31
6,7,5,2015,7,31,False,24,0,a,c,...,13,6.0,77,83,67,0,1,1,15344,2015-07-31
7,8,5,2015,7,31,False,9,0,a,a,...,13,6.0,77,83,67,0,1,1,8492,2015-07-31
8,9,5,2015,7,31,False,24,0,a,c,...,5,2.0,86,83,57,0,1,1,8565,2015-07-31
9,10,5,2015,7,31,False,24,0,a,a,...,13,5.0,80,83,67,0,1,1,7185,2015-07-31
10,11,5,2015,7,31,False,24,25,a,c,...,13,6.0,77,83,67,0,1,1,10457,2015-07-31
11,12,5,2015,7,31,False,24,25,a,c,...,13,6.0,77,83,67,0,1,1,8959,2015-07-31
12,13,5,2015,7,31,False,24,25,d,a,...,6,NaN,86,83,57,-15,1,0,8821,2015-07-31
13,14,5,2015,7,31,False,16,25,a,a,...,5,2.0,86,83,57,0,1,1,6544,2015-07-31
14,15,5,2015,7,31,False,24,25,d,c,...,13,6.0,77,83,67,0,1,1,9191,2015-07-31
15,16,5,2015,7,31,False,24,0,a,c,...,10,2.0,91,83,57,0,1,1,10231,2015-07-31
16,17,5,2015,7,31,False,24,25,a,a,...,11,4.0,80,83,67,0,1,1,8430,2015-07-31
17,18,5,2015,7,31,False,24,25,d,c,...,11,4.0,80,83,67,0,1,1,10071,2015-07-31
18,19,5,2015,7,31,False,24,25,a,c,...,5,2.0,86,83,57,0,1,1,8234,2015-07-31
19,20,5,2015,7,31,False,24,25,d,a,...,6,NaN,86,83,57,-15,1,0,9593,2015-07-31
20,21,5,2015,7,31,False,24,25,c,c,...,10,2.0,91,83,57,0,1,1,9515,2015-07-31
21,22,5,2015,7,31,False,24,25,a,a,...,6,NaN,86,83,57,-15,1,0,6566,2015-07-31
22,23,5,2015,7,31,False,24,0,d,a,...,10,3.0,66,83,57,0,1,1,7273,2015-07-31
23,24,5,2015,7,31,False,24,25,a,c,...,5,2.0,86,83,57,0,1,1,14190,2015-07-31
24,25,5,2015,7,31,False,24,0,c,a,...,5,2.0,86,83,57,0,1,1,14180,2015-07-31
25,26,5,2015,7,31,False,24,0,d,a,...,11,4.0,80,83,67,0,1,1,7818,2015-07-31
26,27,5,2015,7,31,False,24,25,a,a,...,5,2.0,86,83,57,0,1,1,13213,2015-07-31
27,28,5,2015,7,31,False,9,25,a,a,...,8,8.0,62,83,67,0,1,1,7301,2015-07-31
28,29,5,2015,7,31,False,24,0,d,c,...,5,2.0,86,83,57,0,1,1,9411,2015-07-31
29,30,5,2015,7,31,False,17,25,a,a,...,5,2.0,86,83,57,0,1,1,4776,2015-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844308,1103,3,2013,1,2,False,24,0,d,c,...,11,6.0,73,62,1,-86,0,1,3154,2013-01-02
844309,1104,3,2013,1,2,False,10,25,d,a,...,13,6.0,56,62,1,-4,0,1,4161,2013-01-02
844310,1105,3,2013,1,2,False,24,0,c,c,...,16,6.0,63,62,1,-86,0,1,2814,2013-01-02
844311,1106,3,2013,1,2,False,15,0,a,c,...,21,4.0,72,62,1,-86,0,1,5099,2013-01-02
844312,1107,3,2013,1,2,False,6,25,a,a,...,13,6.0,56,62,1,-4,0,1,3955,2013-01-02
844313,1108,3,2013,1,2,False,24,0,a,a,...,18,6.0,71,62,1,-86,0,1,6220,2013-01-02
844314,1109,3,2013,1,2,False,20,25,c,a,...,13,6.0,56,62,1,-4,0,1,4576,2013-01-02
844315,1110,3,2013,1,2,False,24,0,c,c,...,19,6.0,70,62,1,-86,0,1,4126,2013-01-02
844316,1111,3,2013,1,2,False,0,0,a,a,...,16,6.0,63,62,1,-86,0,1,5097,2013-01-02
844317,1112,3,2013,1,2,False,24,0,c,c,...,16,6.0,63,62,1,-86,0,1,10797,2013-01-02
844318,1113,3,2013,1,2,False,24,0,a,c,...,21,4.0,72,62,1,-86,0,1,6218,2013-01-02
844319,1114,3,2013,1,2,False,24,0,a,c,...,19,6.0,63,62,1,-86,0,1,20642,2013-01-02
844320,1115,3,2013,1,2,False,24,25,d,c,...,11,6.0,73,62,1,-86,0,1,3697,2013-01-02
844321,85,2,2013,1,1,True,14,0,b,a,...,18,6.0,70,62,0,0,0,1,4220,2013-01-01
844322,259,2,2013,1,1,True,24,0,b,b,...,14,6.0,73,62,0,0,0,1,6851,2013-01-01
844323,262,2,2013,1,1,True,0,0,b,a,...,23,6.0,63,62,0,0,0,1,17267,2013-01-01
844324,274,2,2013,1,1,True,24,0,b,b,...,14,6.0,73,62,0,0,0,1,3102,2013-01-01
844325,335,2,2013,1,1,True,24,0,b,a,...,26,6.0,63,62,0,0,0,1,2401,2013-01-01
844326,353,2,2013,1,1,True,24,0,b,b,...,6,6.0,59,62,0,0,0,1,3139,2013-01-01
844327,423,2,2013,1,1,True,0,0,b,a,...,18,6.0,70,62,0,0,0,1,9643,2013-01-01
844328,494,2,2013,1,1,True,18,0,b,a,...,18,6.0,70,62,0,0,0,1,3113,2013-01-01
844329,512,2,2013,1,1,True,24,0,b,b,...,6,6.0,56,62,0,0,0,1,2646,2013-01-01
844330,530,2,2013,1,1,True,24,0,a,c,...,16,6.0,72,62,0,0,0,1,2907,2013-01-01
844331,562,2,2013,1,1,True,24,0,b,c,...,24,7.0,52,62,0,0,0,1,8498,2013-01-01
844332,676,2,2013,1,1,True,24,0,b,b,...,14,6.0,73,62,0,0,0,1,3821,2013-01-01
844333,682,2,2013,1,1,True,24,0,b,a,...,18,6.0,70,62,0,0,0,1,3375,2013-01-01
844334,733,2,2013,1,1,True,24,0,b,b,...,26,6.0,63,62,0,0,0,1,10765,2013-01-01
844335,769,2,2013,1,1,True,24,5,b,b,...,26,6.0,63,62,0,0,0,1,5035,2013-01-01
844336,948,2,2013,1,1,True,24,0,b,b,...,6,6.0,59,62,0,0,0,1,4491,2013-01-01
844337,1097,2,2013,1,1,True,24,0,b,b,...,19,8.0,36,62,0,0,0,1,5961,2013-01-01

In [97]:
joined_test[dep] = 0
joined_test = joined_test[cat_vars+contin_vars+[dep, 'Date', 'Id']].copy()

In [98]:
joined_test

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday,Sales,Date,Id
0,1,4,2015,9,17,False,24,0,c,a,...,6.0,69,67,105,0,1,0,0,2015-09-17,1
1,3,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,2
2,7,4,2015,9,17,False,24,0,a,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,3
3,8,4,2015,9,17,False,11,0,a,a,...,5.0,59,67,115,0,1,0,0,2015-09-17,4
4,9,4,2015,9,17,False,24,0,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,5
5,10,4,2015,9,17,False,24,0,a,a,...,6.0,70,67,115,0,1,0,0,2015-09-17,6
6,11,4,2015,9,17,False,24,25,a,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,7
7,12,4,2015,9,17,False,24,25,a,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,8
8,13,4,2015,9,17,False,24,25,d,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,9
9,14,4,2015,9,17,False,18,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,10
10,15,4,2015,9,17,False,24,25,d,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,11
11,16,4,2015,9,17,False,24,0,a,c,...,5.0,68,67,105,0,1,0,0,2015-09-17,12
12,19,4,2015,9,17,False,24,25,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,13
13,20,4,2015,9,17,False,24,25,d,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,14
14,21,4,2015,9,17,False,24,25,c,c,...,5.0,68,67,105,0,1,0,0,2015-09-17,15
15,22,4,2015,9,17,False,24,25,a,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,16
16,23,4,2015,9,17,False,24,0,d,a,...,6.0,61,67,105,0,1,0,0,2015-09-17,17
17,24,4,2015,9,17,False,24,25,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,18
18,25,4,2015,9,17,False,24,0,c,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,19
19,27,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,20
20,29,4,2015,9,17,False,24,0,d,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,21
21,30,4,2015,9,17,False,19,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,22
22,31,4,2015,9,17,False,24,0,d,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,23
23,32,4,2015,9,17,False,24,25,a,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,24
24,33,4,2015,9,17,False,24,0,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,25
25,35,4,2015,9,17,False,24,25,d,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,26
26,36,4,2015,9,17,False,24,25,a,c,...,6.0,62,67,33,0,1,0,0,2015-09-17,27
27,38,4,2015,9,17,False,24,0,d,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,28
28,39,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,29
29,40,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,1077,6,2015,8,1,False,24,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41059
41059,1078,6,2015,8,1,False,24,25,d,c,...,6.0,91,83,58,0,0,0,0,2015-08-01,41060
41060,1079,6,2015,8,1,False,24,25,a,a,...,NaN,85,83,58,0,0,1,0,2015-08-01,41061
41061,1080,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41062
41062,1083,6,2015,8,1,False,24,25,d,c,...,NaN,85,83,58,0,0,1,0,2015-08-01,41063
41063,1084,6,2015,8,1,False,24,25,a,a,...,NaN,85,83,58,0,0,1,0,2015-08-01,41064
41064,1086,6,2015,8,1,False,20,25,a,a,...,NaN,85,83,58,0,0,1,0,2015-08-01,41065
41065,1087,6,2015,8,1,False,24,0,d,c,...,6.0,80,83,68,0,0,1,0,2015-08-01,41066
41066,1088,6,2015,8,1,False,24,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41067
41067,1089,6,2015,8,1,False,24,0,d,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41068
41068,1091,6,2015,8,1,False,24,0,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41069
41069,1092,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41070
41070,1094,6,2015,8,1,False,24,25,d,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41071
41071,1096,6,2015,8,1,False,24,25,a,c,...,6.0,86,83,58,0,0,0,0,2015-08-01,41072
41072,1097,6,2015,8,1,False,24,0,b,b,...,8.0,66,83,58,0,0,0,0,2015-08-01,41073
41073,1099,6,2015,8,1,False,24,25,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41074
41074,1100,6,2015,8,1,False,24,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41075
41075,1101,6,2015,8,1,False,24,0,d,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41076
41076,1102,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41077
41077,1103,6,2015,8,1,False,24,25,d,c,...,NaN,85,83,58,0,0,1,0,2015-08-01,41078
41078,1104,6,2015,8,1,False,24,25,d,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41079
41079,1105,6,2015,8,1,False,24,25,c,c,...,6.0,86,83,58,0,0,0,0,2015-08-01,41080
41080,1106,6,2015,8,1,False,24,25,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41081
41081,1107,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41082
41082,1109,6,2015,8,1,False,24,25,c,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41083
41083,1111,6,2015,8,1,False,13,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41084
41084,1112,6,2015,8,1,False,24,0,c,c,...,6.0,86,83,58,0,0,0,0,2015-08-01,41085
41085,1113,6,2015,8,1,False,24,0,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41086
41086,1114,6,2015,8,1,False,24,0,a,c,...,6.0,70,83,68,0,0,0,0,2015-08-01,41087
41087,1115,6,2015,8,1,False,24,25,d,c,...,NaN,85,83,58,0,0,1,0,2015-08-01,41088

In [99]:
for v in cat_vars: 
    joined[v] = joined[v].astype('category').cat.as_ordered()

In [100]:
joined

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday,Sales,Date
0,1,5,2015,7,31,False,24,0,c,a,...,11,1.0,85,83,57,0,1,1,5263,2015-07-31
1,2,5,2015,7,31,False,24,25,a,a,...,11,4.0,80,83,67,0,1,1,6064,2015-07-31
2,3,5,2015,7,31,False,24,25,a,a,...,5,2.0,86,83,57,0,1,1,8314,2015-07-31
3,4,5,2015,7,31,False,24,0,c,c,...,16,6.0,74,83,67,0,1,1,13995,2015-07-31
4,5,5,2015,7,31,False,3,0,a,a,...,11,4.0,82,83,57,0,1,1,4822,2015-07-31
5,6,5,2015,7,31,False,19,0,a,a,...,11,4.0,82,83,57,0,1,1,5651,2015-07-31
6,7,5,2015,7,31,False,24,0,a,c,...,13,6.0,77,83,67,0,1,1,15344,2015-07-31
7,8,5,2015,7,31,False,9,0,a,a,...,13,6.0,77,83,67,0,1,1,8492,2015-07-31
8,9,5,2015,7,31,False,24,0,a,c,...,5,2.0,86,83,57,0,1,1,8565,2015-07-31
9,10,5,2015,7,31,False,24,0,a,a,...,13,5.0,80,83,67,0,1,1,7185,2015-07-31
10,11,5,2015,7,31,False,24,25,a,c,...,13,6.0,77,83,67,0,1,1,10457,2015-07-31
11,12,5,2015,7,31,False,24,25,a,c,...,13,6.0,77,83,67,0,1,1,8959,2015-07-31
12,13,5,2015,7,31,False,24,25,d,a,...,6,NaN,86,83,57,-15,1,0,8821,2015-07-31
13,14,5,2015,7,31,False,16,25,a,a,...,5,2.0,86,83,57,0,1,1,6544,2015-07-31
14,15,5,2015,7,31,False,24,25,d,c,...,13,6.0,77,83,67,0,1,1,9191,2015-07-31
15,16,5,2015,7,31,False,24,0,a,c,...,10,2.0,91,83,57,0,1,1,10231,2015-07-31
16,17,5,2015,7,31,False,24,25,a,a,...,11,4.0,80,83,67,0,1,1,8430,2015-07-31
17,18,5,2015,7,31,False,24,25,d,c,...,11,4.0,80,83,67,0,1,1,10071,2015-07-31
18,19,5,2015,7,31,False,24,25,a,c,...,5,2.0,86,83,57,0,1,1,8234,2015-07-31
19,20,5,2015,7,31,False,24,25,d,a,...,6,NaN,86,83,57,-15,1,0,9593,2015-07-31
20,21,5,2015,7,31,False,24,25,c,c,...,10,2.0,91,83,57,0,1,1,9515,2015-07-31
21,22,5,2015,7,31,False,24,25,a,a,...,6,NaN,86,83,57,-15,1,0,6566,2015-07-31
22,23,5,2015,7,31,False,24,0,d,a,...,10,3.0,66,83,57,0,1,1,7273,2015-07-31
23,24,5,2015,7,31,False,24,25,a,c,...,5,2.0,86,83,57,0,1,1,14190,2015-07-31
24,25,5,2015,7,31,False,24,0,c,a,...,5,2.0,86,83,57,0,1,1,14180,2015-07-31
25,26,5,2015,7,31,False,24,0,d,a,...,11,4.0,80,83,67,0,1,1,7818,2015-07-31
26,27,5,2015,7,31,False,24,25,a,a,...,5,2.0,86,83,57,0,1,1,13213,2015-07-31
27,28,5,2015,7,31,False,9,25,a,a,...,8,8.0,62,83,67,0,1,1,7301,2015-07-31
28,29,5,2015,7,31,False,24,0,d,c,...,5,2.0,86,83,57,0,1,1,9411,2015-07-31
29,30,5,2015,7,31,False,17,25,a,a,...,5,2.0,86,83,57,0,1,1,4776,2015-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844308,1103,3,2013,1,2,False,24,0,d,c,...,11,6.0,73,62,1,-86,0,1,3154,2013-01-02
844309,1104,3,2013,1,2,False,10,25,d,a,...,13,6.0,56,62,1,-4,0,1,4161,2013-01-02
844310,1105,3,2013,1,2,False,24,0,c,c,...,16,6.0,63,62,1,-86,0,1,2814,2013-01-02
844311,1106,3,2013,1,2,False,15,0,a,c,...,21,4.0,72,62,1,-86,0,1,5099,2013-01-02
844312,1107,3,2013,1,2,False,6,25,a,a,...,13,6.0,56,62,1,-4,0,1,3955,2013-01-02
844313,1108,3,2013,1,2,False,24,0,a,a,...,18,6.0,71,62,1,-86,0,1,6220,2013-01-02
844314,1109,3,2013,1,2,False,20,25,c,a,...,13,6.0,56,62,1,-4,0,1,4576,2013-01-02
844315,1110,3,2013,1,2,False,24,0,c,c,...,19,6.0,70,62,1,-86,0,1,4126,2013-01-02
844316,1111,3,2013,1,2,False,0,0,a,a,...,16,6.0,63,62,1,-86,0,1,5097,2013-01-02
844317,1112,3,2013,1,2,False,24,0,c,c,...,16,6.0,63,62,1,-86,0,1,10797,2013-01-02
844318,1113,3,2013,1,2,False,24,0,a,c,...,21,4.0,72,62,1,-86,0,1,6218,2013-01-02
844319,1114,3,2013,1,2,False,24,0,a,c,...,19,6.0,63,62,1,-86,0,1,20642,2013-01-02
844320,1115,3,2013,1,2,False,24,25,d,c,...,11,6.0,73,62,1,-86,0,1,3697,2013-01-02
844321,85,2,2013,1,1,True,14,0,b,a,...,18,6.0,70,62,0,0,0,1,4220,2013-01-01
844322,259,2,2013,1,1,True,24,0,b,b,...,14,6.0,73,62,0,0,0,1,6851,2013-01-01
844323,262,2,2013,1,1,True,0,0,b,a,...,23,6.0,63,62,0,0,0,1,17267,2013-01-01
844324,274,2,2013,1,1,True,24,0,b,b,...,14,6.0,73,62,0,0,0,1,3102,2013-01-01
844325,335,2,2013,1,1,True,24,0,b,a,...,26,6.0,63,62,0,0,0,1,2401,2013-01-01
844326,353,2,2013,1,1,True,24,0,b,b,...,6,6.0,59,62,0,0,0,1,3139,2013-01-01
844327,423,2,2013,1,1,True,0,0,b,a,...,18,6.0,70,62,0,0,0,1,9643,2013-01-01
844328,494,2,2013,1,1,True,18,0,b,a,...,18,6.0,70,62,0,0,0,1,3113,2013-01-01
844329,512,2,2013,1,1,True,24,0,b,b,...,6,6.0,56,62,0,0,0,1,2646,2013-01-01
844330,530,2,2013,1,1,True,24,0,a,c,...,16,6.0,72,62,0,0,0,1,2907,2013-01-01
844331,562,2,2013,1,1,True,24,0,b,c,...,24,7.0,52,62,0,0,0,1,8498,2013-01-01
844332,676,2,2013,1,1,True,24,0,b,b,...,14,6.0,73,62,0,0,0,1,3821,2013-01-01
844333,682,2,2013,1,1,True,24,0,b,a,...,18,6.0,70,62,0,0,0,1,3375,2013-01-01
844334,733,2,2013,1,1,True,24,0,b,b,...,26,6.0,63,62,0,0,0,1,10765,2013-01-01
844335,769,2,2013,1,1,True,24,5,b,b,...,26,6.0,63,62,0,0,0,1,5035,2013-01-01
844336,948,2,2013,1,1,True,24,0,b,b,...,6,6.0,59,62,0,0,0,1,4491,2013-01-01
844337,1097,2,2013,1,1,True,24,0,b,b,...,19,8.0,36,62,0,0,0,1,5961,2013-01-01

In [101]:
def apply_cats(df, trn):
    """Changes any columns of strings in df into categorical variables using trn as
    a template for the category codes.

    Parameters:
    -----------
    df: A pandas dataframe. Any columns of strings will be changed to
        categorical values. The category codes are determined by trn.

    trn: A pandas dataframe. When creating a category for df, it looks up the
        what the category's code were in trn and makes those the category codes
        for df.

    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a

    note the type of col2 is string

    >>> train_cats(df)
    >>> df

       col1 col2
    0     1    a
    1     2    b
    2     3    a

    now the type of col2 is category {a : 1, b : 2}

    >>> df2 = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['b', 'a', 'a']})
    >>> apply_cats(df2, df)

           col1 col2
        0     1    b
        1     2    a
        2     3    a

    now the type of col is category {a : 1, b : 2}
    """
    for n,c in df.items():
        if (n in trn.columns) and (trn[n].dtype.name=='category'):
            df[n] = pd.Categorical(c, categories=trn[n].cat.categories, ordered=True)

In [102]:
apply_cats(joined_test, joined)

In [103]:
joined_test

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday,Sales,Date,Id
0,1,4,2015,9,17,False,24,0,c,a,...,6.0,69,67,105,0,1,0,0,2015-09-17,1
1,3,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,2
2,7,4,2015,9,17,False,24,0,a,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,3
3,8,4,2015,9,17,False,11,0,a,a,...,5.0,59,67,115,0,1,0,0,2015-09-17,4
4,9,4,2015,9,17,False,24,0,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,5
5,10,4,2015,9,17,False,24,0,a,a,...,6.0,70,67,115,0,1,0,0,2015-09-17,6
6,11,4,2015,9,17,False,24,25,a,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,7
7,12,4,2015,9,17,False,24,25,a,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,8
8,13,4,2015,9,17,False,24,25,d,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,9
9,14,4,2015,9,17,False,18,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,10
10,15,4,2015,9,17,False,24,25,d,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,11
11,16,4,2015,9,17,False,24,0,a,c,...,5.0,68,67,105,0,1,0,0,2015-09-17,12
12,19,4,2015,9,17,False,24,25,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,13
13,20,4,2015,9,17,False,24,25,d,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,14
14,21,4,2015,9,17,False,24,25,c,c,...,5.0,68,67,105,0,1,0,0,2015-09-17,15
15,22,4,2015,9,17,False,24,25,a,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,16
16,23,4,2015,9,17,False,24,0,d,a,...,6.0,61,67,105,0,1,0,0,2015-09-17,17
17,24,4,2015,9,17,False,24,25,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,18
18,25,4,2015,9,17,False,24,0,c,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,19
19,27,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,20
20,29,4,2015,9,17,False,24,0,d,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,21
21,30,4,2015,9,17,False,19,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,22
22,31,4,2015,9,17,False,24,0,d,c,...,5.0,59,67,115,0,1,0,0,2015-09-17,23
23,32,4,2015,9,17,False,24,25,a,a,...,6.0,62,67,33,0,1,0,0,2015-09-17,24
24,33,4,2015,9,17,False,24,0,a,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,25
25,35,4,2015,9,17,False,24,25,d,c,...,6.0,68,67,105,0,1,0,0,2015-09-17,26
26,36,4,2015,9,17,False,24,25,a,c,...,6.0,62,67,33,0,1,0,0,2015-09-17,27
27,38,4,2015,9,17,False,24,0,d,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,28
28,39,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,29
29,40,4,2015,9,17,False,24,25,a,a,...,6.0,68,67,105,0,1,0,0,2015-09-17,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,1077,6,2015,8,1,False,24,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41059
41059,1078,6,2015,8,1,False,24,25,d,c,...,6.0,91,83,58,0,0,0,0,2015-08-01,41060
41060,1079,6,2015,8,1,False,24,25,a,a,...,NaN,85,83,58,0,0,1,0,2015-08-01,41061
41061,1080,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41062
41062,1083,6,2015,8,1,False,24,25,d,c,...,NaN,85,83,58,0,0,1,0,2015-08-01,41063
41063,1084,6,2015,8,1,False,24,25,a,a,...,NaN,85,83,58,0,0,1,0,2015-08-01,41064
41064,1086,6,2015,8,1,False,20,25,a,a,...,NaN,85,83,58,0,0,1,0,2015-08-01,41065
41065,1087,6,2015,8,1,False,24,0,d,c,...,6.0,80,83,68,0,0,1,0,2015-08-01,41066
41066,1088,6,2015,8,1,False,24,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41067
41067,1089,6,2015,8,1,False,24,0,d,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41068
41068,1091,6,2015,8,1,False,24,0,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41069
41069,1092,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41070
41070,1094,6,2015,8,1,False,24,25,d,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41071
41071,1096,6,2015,8,1,False,24,25,a,c,...,6.0,86,83,58,0,0,0,0,2015-08-01,41072
41072,1097,6,2015,8,1,False,24,0,b,b,...,8.0,66,83,58,0,0,0,0,2015-08-01,41073
41073,1099,6,2015,8,1,False,24,25,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41074
41074,1100,6,2015,8,1,False,24,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41075
41075,1101,6,2015,8,1,False,24,0,d,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41076
41076,1102,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41077
41077,1103,6,2015,8,1,False,24,25,d,c,...,NaN,85,83,58,0,0,1,0,2015-08-01,41078
41078,1104,6,2015,8,1,False,24,25,d,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41079
41079,1105,6,2015,8,1,False,24,25,c,c,...,6.0,86,83,58,0,0,0,0,2015-08-01,41080
41080,1106,6,2015,8,1,False,24,25,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41081
41081,1107,6,2015,8,1,False,24,25,a,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41082
41082,1109,6,2015,8,1,False,24,25,c,a,...,NaN,86,83,58,-14,0,0,0,2015-08-01,41083
41083,1111,6,2015,8,1,False,13,25,a,a,...,6.0,86,83,58,0,0,0,0,2015-08-01,41084
41084,1112,6,2015,8,1,False,24,0,c,c,...,6.0,86,83,58,0,0,0,0,2015-08-01,41085
41085,1113,6,2015,8,1,False,24,0,a,c,...,3.0,77,83,68,0,0,0,0,2015-08-01,41086
41086,1114,6,2015,8,1,False,24,0,a,c,...,6.0,70,83,68,0,0,0,0,2015-08-01,41087
41087,1115,6,2015,8,1,False,24,25,d,c,...,NaN,85,83,58,0,0,1,0,2015-08-01,41088

In [104]:
for v in contin_vars:
    joined[v] = joined[v].fillna(0).astype('float32')
    joined_test[v] = joined_test[v].fillna(0).astype('float32')

 ## 建立模型过程

In [105]:
#
def get_cv_idxs(n, cv_idx=0, val_pct=0.2, seed=42):
    """ Get a list of index values for Validation set from a dataset
    
    Arguments:
        n : int, Total number of elements in the data set.
        cv_idx : int, starting index [idx_start = cv_idx*int(val_pct*n)] 
        val_pct : (int, float), validation set percentage 
        seed : seed value for RandomState
        
    Returns:
        list of indexes 
    """
    np.random.seed(seed)
    n_val = int(val_pct*n)
    idx_start = cv_idx*n_val
    idxs = np.random.permutation(n)
    return idxs[idx_start:idx_start+n_val]

In [106]:
n = len(joined)
n

844338

In [107]:
idxs = get_cv_idxs(n, val_pct=150000/n)
joined_samp = joined.iloc[idxs].set_index("Date")
samp_size = len(joined_samp); samp_size

150000

In [108]:
joined_samp

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday,Sales
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-16,257,2,2015,6,16,False,24,0,a,a,...,18.0,8.0,6.0,63.0,71.0,22.0,0.0,1.0,0.0,5934
2013-10-30,4,3,2013,10,30,False,24,0,c,c,...,29.0,16.0,2.0,74.0,66.0,27.0,-56.0,0.0,0.0,7800
2014-11-05,593,3,2014,11,5,False,24,0,a,c,...,14.0,8.0,7.0,75.0,71.0,33.0,-50.0,1.0,0.0,9111
2013-06-19,1026,3,2013,6,19,False,24,25,c,a,...,26.0,10.0,6.0,58.0,59.0,20.0,-106.0,1.0,0.0,7831
2014-04-28,19,1,2014,4,28,False,24,25,a,c,...,13.0,6.0,6.0,74.0,71.0,7.0,-3.0,1.0,0.0,10046
2013-10-30,52,3,2013,10,30,False,0,25,d,c,...,16.0,8.0,5.0,62.0,66.0,27.0,-2.0,0.0,1.0,6819
2015-03-20,690,5,2015,3,20,False,24,0,a,a,...,13.0,5.0,7.0,67.0,63.0,78.0,-14.0,1.0,0.0,5570
2015-04-13,469,1,2015,4,13,False,24,0,c,c,...,42.0,23.0,5.0,56.0,65.0,7.0,-18.0,1.0,0.0,15060
2014-06-28,519,6,2014,6,28,False,24,25,c,c,...,24.0,8.0,4.0,70.0,77.0,19.0,-97.0,0.0,0.0,5856
2015-07-24,366,5,2015,7,24,False,24,0,d,c,...,14.0,6.0,8.0,87.0,87.0,60.0,0.0,0.0,1.0,4831
2013-02-27,620,3,2013,2,27,False,24,0,d,c,...,21.0,10.0,8.0,55.0,55.0,52.0,-30.0,0.0,0.0,5740
2015-01-23,1078,5,2015,1,23,False,24,25,d,c,...,11.0,8.0,8.0,93.0,76.0,17.0,-70.0,0.0,0.0,6000
2013-05-06,345,1,2013,5,6,False,24,25,a,a,...,21.0,13.0,4.0,51.0,60.0,5.0,-3.0,0.0,0.0,3733
2014-12-18,480,4,2014,12,18,False,24,0,a,a,...,32.0,16.0,7.0,78.0,79.0,76.0,-7.0,1.0,0.0,6569
2014-12-11,1108,4,2014,12,11,False,24,0,a,a,...,40.0,21.0,6.0,87.0,100.0,22.0,-14.0,0.0,0.0,5619
2013-06-22,997,6,2013,6,22,False,24,25,d,c,...,29.0,14.0,4.0,57.0,59.0,23.0,-103.0,0.0,0.0,4171
2015-02-19,551,4,2015,2,19,False,17,0,a,c,...,27.0,13.0,8.0,55.0,65.0,49.0,-43.0,1.0,0.0,6421
2013-03-07,525,4,2013,3,7,False,0,0,d,c,...,35.0,13.0,7.0,65.0,54.0,65.0,-22.0,1.0,0.0,12227
2014-02-13,892,4,2014,2,13,False,24,0,a,a,...,29.0,19.0,6.0,71.0,68.0,43.0,-64.0,0.0,0.0,6878
2013-02-22,756,5,2013,2,22,False,24,25,a,c,...,27.0,19.0,5.0,51.0,51.0,52.0,-35.0,1.0,0.0,14192
2013-01-17,567,4,2013,1,17,False,4,25,c,a,...,16.0,10.0,7.0,55.0,56.0,16.0,-71.0,0.0,0.0,4030
2013-10-29,170,2,2013,10,29,False,0,25,a,a,...,37.0,24.0,5.0,70.0,66.0,26.0,-3.0,0.0,1.0,3982
2015-01-13,905,2,2015,1,13,False,7,0,a,a,...,40.0,32.0,6.0,65.0,62.0,12.0,-80.0,1.0,0.0,7002
2013-10-01,289,2,2013,10,1,False,24,0,d,a,...,24.0,14.0,4.0,65.0,62.0,124.0,-2.0,0.0,0.0,5305
2014-08-07,14,4,2014,8,7,False,4,25,a,a,...,16.0,10.0,5.0,73.0,72.0,49.0,-57.0,1.0,1.0,5069
2015-02-10,747,2,2015,2,10,False,24,0,c,c,...,11.0,8.0,8.0,60.0,74.0,35.0,-52.0,0.0,1.0,6287
2013-08-19,718,1,2013,8,19,False,0,0,a,a,...,32.0,13.0,4.0,67.0,69.0,81.0,-45.0,0.0,0.0,7619
2015-01-26,539,1,2015,1,26,False,20,17,a,a,...,23.0,18.0,7.0,77.0,72.0,20.0,-67.0,1.0,0.0,13097
2014-06-05,856,4,2014,6,5,False,24,0,a,a,...,35.0,16.0,5.0,55.0,60.0,7.0,-4.0,1.0,0.0,7220
2014-12-20,505,6,2014,12,20,False,24,25,a,a,...,29.0,16.0,5.0,72.0,79.0,49.0,-5.0,0.0,0.0,5707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-02-09,916,1,2015,2,9,False,24,0,a,a,...,19.0,13.0,7.0,77.0,74.0,39.0,-53.0,0.0,0.0,4731
2015-02-26,438,4,2015,2,26,False,24,25,d,c,...,18.0,10.0,1.0,61.0,71.0,56.0,-36.0,0.0,0.0,4162
2014-02-08,154,6,2014,2,8,False,24,0,d,c,...,34.0,18.0,6.0,64.0,57.0,38.0,-69.0,0.0,0.0,7667
2014-06-20,776,5,2014,6,20,False,24,25,c,a,...,21.0,13.0,6.0,67.0,62.0,1.0,-105.0,1.0,0.0,6061
2014-03-26,550,3,2014,3,26,False,0,0,d,c,...,23.0,10.0,3.0,71.0,66.0,84.0,-23.0,0.0,0.0,4967
2015-04-08,597,3,2015,4,8,False,24,25,a,a,...,14.0,5.0,0.0,71.0,69.0,2.0,-23.0,0.0,1.0,5214
2014-08-18,134,1,2014,8,18,False,24,0,a,a,...,40.0,23.0,4.0,62.0,66.0,70.0,-46.0,1.0,1.0,5977
2013-02-04,430,1,2013,2,4,False,24,0,d,c,...,47.0,37.0,7.0,45.0,51.0,29.0,-53.0,1.0,0.0,6610
2014-10-10,527,5,2014,10,10,False,24,0,d,c,...,23.0,14.0,5.0,66.0,64.0,7.0,-22.0,1.0,1.0,11095
2015-06-27,1079,6,2015,6,27,False,24,25,a,a,...,27.0,10.0,5.0,82.0,86.0,23.0,0.0,0.0,0.0,6182
2013-02-23,932,6,2013,2,23,False,24,25,a,a,...,14.0,10.0,7.0,47.0,51.0,48.0,-34.0,0.0,0.0,4200
2014-10-09,654,4,2014,10,9,False,24,0,c,a,...,32.0,26.0,8.0,56.0,64.0,6.0,-22.0,1.0,0.0,7712
2015-02-07,492,6,2015,2,7,False,24,25,a,a,...,19.0,13.0,5.0,65.0,66.0,32.0,-55.0,0.0,0.0,7782
2015-07-13,466,1,2015,7,13,False,24,0,a,c,...,26.0,16.0,7.0,76.0,74.0,39.0,0.0,1.0,1.0,10583
2013-01-18,672,5,2013,1,18,False,24,0,c,a,...,26.0,18.0,7.0,58.0,56.0,17.0,-70.0,0.0,0.0,6867
2015-06-23,860,2,2015,6,23,False,24,0,c,c,...,27.0,11.0,5.0,82.0,86.0,29.0,0.0,0.0,0.0,5036
2013-09-07,56,6,2013,9,7,False,18,0,d,c,...,19.0,6.0,6.0,69.0,63.0,100.0,-26.0,0.0,0.0,6142
2014-12-23,193,2,2014,12,23,False,24,0,a,a,...,14.0,8.0,6.0,75.0,73.0,52.0,-2.0,0.0,1.0,7839
2013-09-28,1002,6,2013,9,28,False,24,0,d,c,...,13.0,5.0,4.0,62.0,53.0,131.0,-5.0,0.0,0.0,5245
2015-06-03,784,3,2015,6,3,False,7,25,a,a,...,29.0,19.0,5.0,76.0,68.0,9.0,-1.0,1.0,0.0,9307
2013-10-22,436,2,2013,10,22,False,24,0,d,a,...,29.0,14.0,0.0,55.0,60.0,19.0,-9.0,1.0,1.0,5625
2014-04-28,425,1,2014,4,28,False,24,0,d,c,...,13.0,6.0,6.0,74.0,71.0,7.0,-3.0,1.0,0.0,4068
2013-08-10,585,6,2013,8,10,False,0,0,d,c,...,26.0,11.0,5.0,72.0,68.0,82.0,-54.0,0.0,0.0,5331
2014-10-07,568,2,2014,10,7,False,24,25,d,c,...,29.0,13.0,6.0,59.0,64.0,4.0,-79.0,1.0,0.0,5048
2015-01-08,263,4,2015,1,8,False,20,14,a,c,...,58.0,14.0,7.0,69.0,67.0,2.0,-85.0,1.0,0.0,4158
2013-09-13,105,5,2013,9,13,False,24,14,a,c,...,23.0,8.0,6.0,43.0,51.0,106.0,-20.0,1.0,0.0,4463
2014-05-15,616,4,2014,5,15,False,24,25,a,c,...,14.0,8.0,6.0,75.0,72.0,14.0,-14.0,0.0,0.0,7603
2014-05-05,159,1,2014,5,5,False,13,0,d,a,...,11.0,5.0,3.0,60.0,60.0,4.0,-24.0,1.0,0.0,11458
2015-01-27,107,2,2015,1,27,False,24,0,a,a,...,29.0,21.0,5.0,67.0,72.0,26.0,-66.0,1.0,0.0,7370
2014-06-02,340,1,2014,6,2,False,24,0,a,c,...,14.0,5.0,2.0,50.0,60.0,4.0,-7.0,1.0,0.0,10367

In [109]:
samp_size = n
joined_samp = joined.set_index("Date")

In [110]:
joined_samp

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday,Sales
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,2015,7,31,False,24,0,c,a,...,24.0,11.0,1.0,85.0,83.0,57.0,0.0,1.0,1.0,5263
2015-07-31,2,5,2015,7,31,False,24,25,a,a,...,14.0,11.0,4.0,80.0,83.0,67.0,0.0,1.0,1.0,6064
2015-07-31,3,5,2015,7,31,False,24,25,a,a,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,8314
2015-07-31,4,5,2015,7,31,False,24,0,c,c,...,23.0,16.0,6.0,74.0,83.0,67.0,0.0,1.0,1.0,13995
2015-07-31,5,5,2015,7,31,False,3,0,a,a,...,14.0,11.0,4.0,82.0,83.0,57.0,0.0,1.0,1.0,4822
2015-07-31,6,5,2015,7,31,False,19,0,a,a,...,14.0,11.0,4.0,82.0,83.0,57.0,0.0,1.0,1.0,5651
2015-07-31,7,5,2015,7,31,False,24,0,a,c,...,26.0,13.0,6.0,77.0,83.0,67.0,0.0,1.0,1.0,15344
2015-07-31,8,5,2015,7,31,False,9,0,a,a,...,26.0,13.0,6.0,77.0,83.0,67.0,0.0,1.0,1.0,8492
2015-07-31,9,5,2015,7,31,False,24,0,a,c,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,8565
2015-07-31,10,5,2015,7,31,False,24,0,a,a,...,21.0,13.0,5.0,80.0,83.0,67.0,0.0,1.0,1.0,7185
2015-07-31,11,5,2015,7,31,False,24,25,a,c,...,26.0,13.0,6.0,77.0,83.0,67.0,0.0,1.0,1.0,10457
2015-07-31,12,5,2015,7,31,False,24,25,a,c,...,26.0,13.0,6.0,77.0,83.0,67.0,0.0,1.0,1.0,8959
2015-07-31,13,5,2015,7,31,False,24,25,d,a,...,19.0,6.0,0.0,86.0,83.0,57.0,-15.0,1.0,0.0,8821
2015-07-31,14,5,2015,7,31,False,16,25,a,a,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,6544
2015-07-31,15,5,2015,7,31,False,24,25,d,c,...,26.0,13.0,6.0,77.0,83.0,67.0,0.0,1.0,1.0,9191
2015-07-31,16,5,2015,7,31,False,24,0,a,c,...,16.0,10.0,2.0,91.0,83.0,57.0,0.0,1.0,1.0,10231
2015-07-31,17,5,2015,7,31,False,24,25,a,a,...,14.0,11.0,4.0,80.0,83.0,67.0,0.0,1.0,1.0,8430
2015-07-31,18,5,2015,7,31,False,24,25,d,c,...,14.0,11.0,4.0,80.0,83.0,67.0,0.0,1.0,1.0,10071
2015-07-31,19,5,2015,7,31,False,24,25,a,c,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,8234
2015-07-31,20,5,2015,7,31,False,24,25,d,a,...,19.0,6.0,0.0,86.0,83.0,57.0,-15.0,1.0,0.0,9593
2015-07-31,21,5,2015,7,31,False,24,25,c,c,...,16.0,10.0,2.0,91.0,83.0,57.0,0.0,1.0,1.0,9515
2015-07-31,22,5,2015,7,31,False,24,25,a,a,...,19.0,6.0,0.0,86.0,83.0,57.0,-15.0,1.0,0.0,6566
2015-07-31,23,5,2015,7,31,False,24,0,d,a,...,14.0,10.0,3.0,66.0,83.0,57.0,0.0,1.0,1.0,7273
2015-07-31,24,5,2015,7,31,False,24,25,a,c,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,14190
2015-07-31,25,5,2015,7,31,False,24,0,c,a,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,14180
2015-07-31,26,5,2015,7,31,False,24,0,d,a,...,14.0,11.0,4.0,80.0,83.0,67.0,0.0,1.0,1.0,7818
2015-07-31,27,5,2015,7,31,False,24,25,a,a,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,13213
2015-07-31,28,5,2015,7,31,False,9,25,a,a,...,14.0,8.0,8.0,62.0,83.0,67.0,0.0,1.0,1.0,7301
2015-07-31,29,5,2015,7,31,False,24,0,d,c,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,9411
2015-07-31,30,5,2015,7,31,False,17,25,a,a,...,14.0,5.0,2.0,86.0,83.0,57.0,0.0,1.0,1.0,4776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-02,1103,3,2013,1,2,False,24,0,d,c,...,19.0,11.0,6.0,73.0,62.0,1.0,-86.0,0.0,1.0,3154
2013-01-02,1104,3,2013,1,2,False,10,25,d,a,...,19.0,13.0,6.0,56.0,62.0,1.0,-4.0,0.0,1.0,4161
2013-01-02,1105,3,2013,1,2,False,24,0,c,c,...,24.0,16.0,6.0,63.0,62.0,1.0,-86.0,0.0,1.0,2814
2013-01-02,1106,3,2013,1,2,False,15,0,a,c,...,26.0,21.0,4.0,72.0,62.0,1.0,-86.0,0.0,1.0,5099
2013-01-02,1107,3,2013,1,2,False,6,25,a,a,...,19.0,13.0,6.0,56.0,62.0,1.0,-4.0,0.0,1.0,3955
2013-01-02,1108,3,2013,1,2,False,24,0,a,a,...,29.0,18.0,6.0,71.0,62.0,1.0,-86.0,0.0,1.0,6220
2013-01-02,1109,3,2013,1,2,False,20,25,c,a,...,19.0,13.0,6.0,56.0,62.0,1.0,-4.0,0.0,1.0,4576
2013-01-02,1110,3,2013,1,2,False,24,0,c,c,...,29.0,19.0,6.0,70.0,62.0,1.0,-86.0,0.0,1.0,4126
2013-01-02,1111,3,2013,1,2,False,0,0,a,a,...,24.0,16.0,6.0,63.0,62.0,1.0,-86.0,0.0,1.0,5097
2013-01-02,1112,3,2013,1,2,False,24,0,c,c,...,24.0,16.0,6.0,63.0,62.0,1.0,-86.0,0.0,1.0,10797
2013-01-02,1113,3,2013,1,2,False,24,0,a,c,...,26.0,21.0,4.0,72.0,62.0,1.0,-86.0,0.0,1.0,6218
2013-01-02,1114,3,2013,1,2,False,24,0,a,c,...,26.0,19.0,6.0,63.0,62.0,1.0,-86.0,0.0,1.0,20642
2013-01-02,1115,3,2013,1,2,False,24,25,d,c,...,19.0,11.0,6.0,73.0,62.0,1.0,-86.0,0.0,1.0,3697
2013-01-01,85,2,2013,1,1,True,14,0,b,a,...,26.0,18.0,6.0,70.0,62.0,0.0,0.0,0.0,1.0,4220
2013-01-01,259,2,2013,1,1,True,24,0,b,b,...,23.0,14.0,6.0,73.0,62.0,0.0,0.0,0.0,1.0,6851
2013-01-01,262,2,2013,1,1,True,0,0,b,a,...,40.0,23.0,6.0,63.0,62.0,0.0,0.0,0.0,1.0,17267
2013-01-01,274,2,2013,1,1,True,24,0,b,b,...,23.0,14.0,6.0,73.0,62.0,0.0,0.0,0.0,1.0,3102
2013-01-01,335,2,2013,1,1,True,24,0,b,a,...,39.0,26.0,6.0,63.0,62.0,0.0,0.0,0.0,1.0,2401
2013-01-01,353,2,2013,1,1,True,24,0,b,b,...,23.0,6.0,6.0,59.0,62.0,0.0,0.0,0.0,1.0,3139
2013-01-01,423,2,2013,1,1,True,0,0,b,a,...,26.0,18.0,6.0,70.0,62.0,0.0,0.0,0.0,1.0,9643
2013-01-01,494,2,2013,1,1,True,18,0,b,a,...,26.0,18.0,6.0,70.0,62.0,0.0,0.0,0.0,1.0,3113
2013-01-01,512,2,2013,1,1,True,24,0,b,b,...,23.0,6.0,6.0,56.0,62.0,0.0,0.0,0.0,1.0,2646
2013-01-01,530,2,2013,1,1,True,24,0,a,c,...,23.0,16.0,6.0,72.0,62.0,0.0,0.0,0.0,1.0,2907
2013-01-01,562,2,2013,1,1,True,24,0,b,c,...,34.0,24.0,7.0,52.0,62.0,0.0,0.0,0.0,1.0,8498
2013-01-01,676,2,2013,1,1,True,24,0,b,b,...,23.0,14.0,6.0,73.0,62.0,0.0,0.0,0.0,1.0,3821
2013-01-01,682,2,2013,1,1,True,24,0,b,a,...,26.0,18.0,6.0,70.0,62.0,0.0,0.0,0.0,1.0,3375
2013-01-01,733,2,2013,1,1,True,24,0,b,b,...,39.0,26.0,6.0,63.0,62.0,0.0,0.0,0.0,1.0,10765
2013-01-01,769,2,2013,1,1,True,24,5,b,b,...,39.0,26.0,6.0,63.0,62.0,0.0,0.0,0.0,1.0,5035
2013-01-01,948,2,2013,1,1,True,24,0,b,b,...,23.0,6.0,6.0,59.0,62.0,0.0,0.0,0.0,1.0,4491
2013-01-01,1097,2,2013,1,1,True,24,0,b,b,...,26.0,19.0,8.0,36.0,62.0,0.0,0.0,0.0,1.0,5961

In [111]:
def get_sample(df,n):
    """ Gets a random sample of n rows from df, without replacement.

    Parameters:
    -----------
    df: A pandas data frame, that you wish to sample from.
    n: The number of rows you wish to sample.

    Returns:
    --------
    return value: A random sample of n rows of df.

    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a

    >>> get_sample(df, 2)
       col1 col2
    1     2    b
    2     3    a
    """
    idxs = sorted(np.random.permutation(len(df))[:n])
    return df.iloc[idxs].copy()

In [112]:
def fix_missing(df, col, name, na_dict):
    """ Fill missing data in a column of df with the median, and add a {name}_na column
    which specifies if the data was missing.

    Parameters:
    -----------
    df: The data frame that will be changed.

    col: The column of data to fix by filling in missing data.

    name: The name of the new filled column in df.

    na_dict: A dictionary of values to create na's of and the value to insert. If
        name is not a key of na_dict the median will fill any missing data. Also
        if name is not a key of na_dict and there is no missing data in col, then
        no {name}_na column is not created.


    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2

    >>> fix_missing(df, df['col1'], 'col1', {})
    >>> df
       col1 col2 col1_na
    0     1    5   False
    1     2    2    True
    2     3    2   False


    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2

    >>> fix_missing(df, df['col2'], 'col2', {})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2


    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2

    >>> fix_missing(df, df['col1'], 'col1', {'col1' : 500})
    >>> df
       col1 col2 col1_na
    0     1    5   False
    1   500    2    True
    2     3    2   False
    """
    if is_numeric_dtype(col):
        if pd.isnull(col).sum() or (name in na_dict):
            df[name+'_na'] = pd.isnull(col)
            filler = na_dict[name] if name in na_dict else col.median()
            df[name] = col.fillna(filler)
            na_dict[name] = filler
    return na_dict

In [113]:
def scale_vars(df, mapper):
    warnings.filterwarnings('ignore', category=sklearn.exceptions.DataConversionWarning)
    if mapper is None:
        map_f = [([n],StandardScaler()) for n in df.columns if is_numeric_dtype(df[n])]
        mapper = DataFrameMapper(map_f).fit(df)
    df[mapper.transformed_names_] = mapper.transform(df)
    return mapper

In [114]:
def numericalize(df, col, name, max_n_cat):
    """ Changes the column col from a categorical type to it's integer codes.

    Parameters:
    -----------
    df: A pandas dataframe. df[name] will be filled with the integer codes from
        col.

    col: The column you wish to change into the categories.
    name: The column name you wish to insert into df. This column will hold the
        integer codes.

    max_n_cat: If col has more categories than max_n_cat it will not change the
        it to its integer codes. If max_n_cat is None, then col will always be
        converted.

    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a

    note the type of col2 is string

    >>> train_cats(df)
    >>> df

       col1 col2
    0     1    a
    1     2    b
    2     3    a

    now the type of col2 is category { a : 1, b : 2}

    >>> numericalize(df, df['col2'], 'col3', None)

       col1 col2 col3
    0     1    a    1
    1     2    b    2
    2     3    a    1
    """
    if not is_numeric_dtype(col) and ( max_n_cat is None or len(col.cat.categories)>max_n_cat):
        df[name] = col.cat.codes+1

In [115]:
def proc_df(df, y_fld=None, skip_flds=None, ignore_flds=None, do_scale=False, na_dict=None,
            preproc_fn=None, max_n_cat=None, subset=None, mapper=None):
    """ proc_df takes a data frame df and splits off the response variable, and
    changes the df into an entirely numeric dataframe.

    Parameters:
    -----------
    df: The data frame you wish to process.

    y_fld: The name of the response variable

    skip_flds: A list of fields that dropped from df.

    ignore_flds: A list of fields that are ignored during processing.

    do_scale: Standardizes each column in df. Takes Boolean Values(True,False)

    na_dict: a dictionary of na columns to add. Na columns are also added if there
        are any missing values.

    preproc_fn: A function that gets applied to df.

    max_n_cat: The maximum number of categories to break into dummy values, instead
        of integer codes.

    subset: Takes a random subset of size subset from df.

    mapper: If do_scale is set as True, the mapper variable
        calculates the values used for scaling of variables during training time (mean and standard deviation).

    Returns:
    --------
    [x, y, nas, mapper(optional)]:

        x: x is the transformed version of df. x will not have the response variable
            and is entirely numeric.

        y: y is the response variable

        nas: returns a dictionary of which nas it created, and the associated median.

        mapper: A DataFrameMapper which stores the mean and standard deviation of the corresponding continuous
        variables which is then used for scaling of during test-time.

    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a

    note the type of col2 is string

    >>> train_cats(df)
    >>> df

       col1 col2
    0     1    a
    1     2    b
    2     3    a

    now the type of col2 is category { a : 1, b : 2}

    >>> x, y, nas = proc_df(df, 'col1')
    >>> x

       col2
    0     1
    1     2
    2     1

    >>> data = DataFrame(pet=["cat", "dog", "dog", "fish", "cat", "dog", "cat", "fish"],
                 children=[4., 6, 3, 3, 2, 3, 5, 4],
                 salary=[90, 24, 44, 27, 32, 59, 36, 27])

    >>> mapper = DataFrameMapper([(:pet, LabelBinarizer()),
                          ([:children], StandardScaler())])

    >>>round(fit_transform!(mapper, copy(data)), 2)

    8x4 Array{Float64,2}:
    1.0  0.0  0.0   0.21
    0.0  1.0  0.0   1.88
    0.0  1.0  0.0  -0.63
    0.0  0.0  1.0  -0.63
    1.0  0.0  0.0  -1.46
    0.0  1.0  0.0  -0.63
    1.0  0.0  0.0   1.04
    0.0  0.0  1.0   0.21
    """
    if not ignore_flds: ignore_flds=[]
    if not skip_flds: skip_flds=[]
    if subset: df = get_sample(df,subset)
    else: df = df.copy()
    ignored_flds = df.loc[:, ignore_flds]
    df.drop(ignore_flds, axis=1, inplace=True)
    if preproc_fn: preproc_fn(df)
    if y_fld is None: y = None
    else:
        if not is_numeric_dtype(df[y_fld]): df[y_fld] = df[y_fld].cat.codes
        y = df[y_fld].values
        skip_flds += [y_fld]
    df.drop(skip_flds, axis=1, inplace=True)

    if na_dict is None: na_dict = {}
    else: na_dict = na_dict.copy()
    na_dict_initial = na_dict.copy()
    for n,c in df.items(): na_dict = fix_missing(df, c, n, na_dict)
    if len(na_dict_initial.keys()) > 0:
        df.drop([a + '_na' for a in list(set(na_dict.keys()) - set(na_dict_initial.keys()))], axis=1, inplace=True)
    if do_scale: mapper = scale_vars(df, mapper)
    for n,c in df.items(): numericalize(df, c, n, max_n_cat)
    df = pd.get_dummies(df, dummy_na=True)
    df = pd.concat([ignored_flds, df], axis=1)
    res = [df, y, na_dict]
    if do_scale: res = res + [mapper]
    return res

In [123]:
df, y, nas, mapper = proc_df(joined_samp, 'Sales', do_scale=True)
yl = np.log(y)

3.828641396489095

In [117]:
from pandas.api.types import is_string_dtype, is_numeric_dtype

In [118]:
import warnings

In [119]:
import sklearn

In [120]:
from sklearn.preprocessing import LabelEncoder, Imputer, StandardScaler

In [121]:
import sklearn_pandas

In [122]:
from sklearn_pandas import DataFrameMapper

In [126]:
df

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,3,7,31,1,25,1,3,1,...,-1.620066,0.149027,-0.142774,-1.844823,1.732492,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,2,5,3,7,31,1,25,26,1,1,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,3,5,3,7,31,1,25,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,4,5,3,7,31,1,25,1,3,3,...,-1.009721,0.038063,0.699941,0.415345,0.769081,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,5,5,3,7,31,1,4,1,1,1,...,-1.213169,-0.960613,-0.142774,-0.488722,1.469743,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,6,5,3,7,31,1,20,1,1,1,...,-1.213169,-0.960613,-0.142774,-0.488722,1.469743,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,7,5,3,7,31,1,25,1,1,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,8,5,3,7,31,1,10,1,1,1,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,9,5,3,7,31,1,25,1,1,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,10,5,3,7,31,1,25,1,1,1,...,-1.009721,-0.183865,0.194312,-0.036688,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,11,5,3,7,31,1,25,26,1,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,12,5,3,7,31,1,25,26,1,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,13,5,3,7,31,1,25,26,4,1,...,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,14,5,3,7,31,1,17,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,15,5,3,7,31,1,25,26,4,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,16,5,3,7,31,1,25,1,1,3,...,-1.518342,-0.738685,-0.311317,-1.392789,2.257988,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,17,5,3,7,31,1,25,26,1,1,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,18,5,3,7,31,1,25,26,4,3,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,19,5,3,7,31,1,25,26,1,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,20,5,3,7,31,1,25,26,4,1,...,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,21,5,3,7,31,1,25,26,3,3,...,-1.518342,-0.738685,-0.311317,-1.392789,2.257988,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,22,5,3,7,31,1,25,26,1,1,...,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,23,5,3,7,31,1,25,1,4,1,...,-1.467480,-0.960613,-0.311317,-0.940756,0.068418,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,24,5,3,7,31,1,25,26,1,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,25,5,3,7,31,1,25,1,3,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,26,5,3,7,31,1,25,1,4,1,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,27,5,3,7,31,1,25,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,28,5,3,7,31,1,10,26,1,1,...,-1.162307,-0.960613,-0.648402,1.319413,-0.281913,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,29,5,3,7,31,1,25,1,4,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,30,5,3,7,31,1,18,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-02,1103,3,1,1,2,1,25,1,4,3,...,0.872177,-0.405793,-0.142774,0.415345,0.681498,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1104,3,1,1,2,1,11,26,4,1,...,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,1105,3,1,1,2,1,25,1,3,3,...,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1106,3,1,1,2,1,16,1,1,3,...,1.584247,0.370955,1.542655,-0.488722,0.593915,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1107,3,1,1,2,1,7,26,1,1,...,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,1108,3,1,1,2,1,25,1,1,1,...,0.516143,0.703847,1.037026,0.415345,0.506332,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1109,3,1,1,2,1,21,26,3,1,...,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,1110,3,1,1,2,1,25,1,3,3,...,1.177350,0.703847,1.205569,0.415345,0.418749,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1111,3,1,1,2,1,1,1,1,1,...,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1112,3,1,1,2,1,25,1,3,3,...,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1113,3,1,1,2,1,25,1,1,3,...,1.584247,0.370955,1.542655,-0.488722,0.593915,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1114,3,1,1,2,1,25,1,1,3,...,1.329936,0.370955,1.205569,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1115,3,1,1,2,1,25,26,4,3,...,0.872177,-0.405793,-0.142774,0.415345,0.681498,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-01,85,2,1,1,1,2,15,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,259,2,1,1,1,2,25,1,2,2,...,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,262,2,1,1,1,2,1,1,2,1,...,1.024764,1.924450,1.879741,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,274,2,1,1,1,2,25,1,2,2,...,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,335,2,1,1,1,2,25,1,2,1,...,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,353,2,1,1,1,2,25,1,2,2,...,0.058384,0.038063,-0.985488,0.415345,-0.544662,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,423,2,1,1,1,2,1,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,494,2,1,1,1,2,19,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,512,2,1,1,1,2,25,1,2,2,...,0.567005,0.038063,-0.985488,0.415345,-0.807410,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,530,2,1,1,1,2,25,1,1,3,...,2.194592,0.038063,0.699941,0.415345,0.593915,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,562,2,1,1,1,2,25,1,2,3,...,0.668729,1.258667,2.048284,0.867379,-1.157742,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,676,2,1,1,1,2,25,1,2,2,...,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,682,2,1,1,1,2,25,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,733,2,1,1,1,2,25,1,2,2,...,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,769,2,1,1,1,2,25,6,2,2,...,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,948,2,1,1,1,2,25,1,2,2,...,0.058384,0.038063,-0.985488,0.415345,-0.544662,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,1097,2,1,1,1,2,25,1,2,2,...,0.465280,0.370955,1.205569,1.319413,-2.559067,-0.436405,-1.233768,1.131120,-0.897894,2.041050

In [127]:
df[]

array([5263, 6064, 8314, ..., 5035, 4491, 5961], dtype=int64)

In [128]:
nas

{}

In [129]:
mapper

DataFrameMapper(default=False, df_out=False,
        features=[(['CompetitionDistance'], StandardScaler(copy=True, with_mean=True, with_std=True)), (['Max_TemperatureC'], StandardScaler(copy=True, with_mean=True, with_std=True)), (['Mean_TemperatureC'], StandardScaler(copy=True, with_mean=True, with_std=True)), (['Min_TemperatureC'], StandardScaler(co...rue, with_std=True)), (['SchoolHoliday'], StandardScaler(copy=True, with_mean=True, with_std=True))],
        input_df=False, sparse=False)

In [130]:
joined_test = joined_test.set_index("Date")

In [131]:
df_test, _, nas, mapper = proc_df(joined_test, 'Sales', do_scale=True, skip_flds=['Id'],
                                  mapper=mapper, na_dict=nas)

In [132]:
train_ratio = 0.75
# train_ratio = 0.9
train_size = int(samp_size * train_ratio); train_size
val_idx = list(range(train_size, len(df)))


#训练集的后面0.75当作验证集

In [133]:
train_size

633253

In [134]:
len(val_idx)

211085

In [135]:
def inv_y(a): 
    return np.exp(a)
#返回e的a次方

def exp_rmspe(y_pred, targ):
    targ = inv_y(targ)
    pct_var = (targ - inv_y(y_pred))/targ
    return math.sqrt((pct_var**2).mean())

max_log_y = np.max(yl)
y_range = (0, max_log_y*1.2)

In [136]:
max_log_y

10.634676867382668

In [137]:
cat_sz = [(c, len(joined_samp[c].cat.categories)+1) for c in cat_vars]

In [138]:
cat_sz

[('Store', 1116),
 ('DayOfWeek', 8),
 ('Year', 4),
 ('Month', 13),
 ('Day', 32),
 ('StateHoliday', 3),
 ('CompetitionMonthsOpen', 26),
 ('Promo2Weeks', 27),
 ('StoreType', 5),
 ('Assortment', 4),
 ('PromoInterval', 4),
 ('CompetitionOpenSinceYear', 23),
 ('Promo2SinceYear', 9),
 ('State', 13),
 ('Week', 53),
 ('Events', 22),
 ('Promo_fw', 7),
 ('Promo_bw', 7),
 ('StateHoliday_fw', 4),
 ('StateHoliday_bw', 4),
 ('SchoolHoliday_fw', 9),
 ('SchoolHoliday_bw', 9)]

In [139]:
emb_szs = [(c, min(50, (c+1)//2)) for _,c in cat_sz]   #计算每个embedding vector的长度

In [140]:
emb_szs

[(1116, 50),
 (8, 4),
 (4, 2),
 (13, 7),
 (32, 16),
 (3, 2),
 (26, 13),
 (27, 14),
 (5, 3),
 (4, 2),
 (4, 2),
 (23, 12),
 (9, 5),
 (13, 7),
 (53, 27),
 (22, 11),
 (7, 4),
 (7, 4),
 (4, 2),
 (4, 2),
 (9, 5),
 (9, 5)]

In [142]:
len(emb_szs)

22

In [148]:
df[cat_vars]

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fw,Promo_bw,StateHoliday_fw,StateHoliday_bw,SchoolHoliday_fw,SchoolHoliday_bw
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,3,7,31,1,25,1,3,1,...,1,5,31,1,6,6,1,1,8,6
2015-07-31,2,5,3,7,31,1,25,26,1,1,...,3,12,31,1,2,6,1,1,2,6
2015-07-31,3,5,3,7,31,1,25,26,1,1,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,4,5,3,7,31,1,25,1,3,3,...,1,1,31,0,2,6,1,1,2,6
2015-07-31,5,5,3,7,31,1,4,1,1,1,...,1,10,31,0,2,6,1,1,2,6
2015-07-31,6,5,3,7,31,1,20,1,1,1,...,1,10,31,0,2,6,1,1,2,6
2015-07-31,7,5,3,7,31,1,25,1,1,3,...,1,9,31,11,6,6,1,1,6,6
2015-07-31,8,5,3,7,31,1,10,1,1,1,...,1,9,31,11,6,6,1,1,6,6
2015-07-31,9,5,3,7,31,1,25,1,1,3,...,1,7,31,1,6,6,1,1,6,6
2015-07-31,10,5,3,7,31,1,25,1,1,1,...,1,4,31,0,6,6,1,1,8,8
2015-07-31,11,5,3,7,31,1,25,26,1,3,...,5,9,31,11,6,6,1,1,6,6
2015-07-31,12,5,3,7,31,1,25,26,1,3,...,3,9,31,11,6,6,1,1,6,6
2015-07-31,13,5,3,7,31,1,25,26,4,1,...,2,3,31,0,6,6,1,1,5,1
2015-07-31,14,5,3,7,31,1,17,26,1,1,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,15,5,3,7,31,1,25,26,4,3,...,4,9,31,11,6,6,1,1,6,6
2015-07-31,16,5,3,7,31,1,25,1,1,3,...,1,2,31,0,6,6,1,1,6,3
2015-07-31,17,5,3,7,31,1,25,26,1,1,...,3,12,31,1,2,6,1,1,2,6
2015-07-31,18,5,3,7,31,1,25,26,4,3,...,5,12,31,1,2,6,1,1,2,6
2015-07-31,19,5,3,7,31,1,25,26,1,3,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,20,5,3,7,31,1,25,26,4,1,...,7,3,31,0,6,6,1,1,5,1
2015-07-31,21,5,3,7,31,1,25,26,3,3,...,2,2,31,0,6,6,1,1,6,3
2015-07-31,22,5,3,7,31,1,25,26,1,1,...,5,3,31,0,6,6,1,1,5,1
2015-07-31,23,5,3,7,31,1,25,1,4,1,...,1,8,31,0,6,6,1,1,6,6
2015-07-31,24,5,3,7,31,1,25,26,1,3,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,25,5,3,7,31,1,25,1,3,1,...,1,7,31,1,6,6,1,1,6,6
2015-07-31,26,5,3,7,31,1,25,1,4,1,...,1,12,31,1,2,6,1,1,2,6
2015-07-31,27,5,3,7,31,1,25,26,1,1,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,28,5,3,7,31,1,10,26,1,1,...,8,11,31,0,2,6,1,1,2,6
2015-07-31,29,5,3,7,31,1,25,1,4,3,...,1,7,31,1,6,6,1,1,6,6
2015-07-31,30,5,3,7,31,1,18,26,1,1,...,7,7,31,1,6,6,1,1,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-02,1103,3,1,1,2,1,25,1,4,3,...,6,5,1,0,3,1,1,2,8,3
2013-01-02,1104,3,1,1,2,1,11,26,4,1,...,4,3,1,2,3,1,2,2,4,3
2013-01-02,1105,3,1,1,2,1,25,1,3,3,...,6,7,1,11,3,1,1,2,4,3
2013-01-02,1106,3,1,1,2,1,16,1,1,3,...,6,9,1,0,3,1,1,2,4,3
2013-01-02,1107,3,1,1,2,1,7,26,1,1,...,3,3,1,2,3,1,2,2,4,3
2013-01-02,1108,3,1,1,2,1,25,1,1,1,...,1,10,1,11,3,1,1,2,2,3
2013-01-02,1109,3,1,1,2,1,21,26,3,1,...,5,3,1,2,3,1,2,2,4,3
2013-01-02,1110,3,1,1,2,1,25,1,3,3,...,1,1,1,11,3,1,1,2,4,3
2013-01-02,1111,3,1,1,2,1,1,1,1,1,...,6,7,1,11,3,1,1,2,4,3
2013-01-02,1112,3,1,1,2,1,25,1,3,3,...,1,7,1,11,3,1,1,2,4,3
2013-01-02,1113,3,1,1,2,1,25,1,1,3,...,1,9,1,0,3,1,1,2,4,3
2013-01-02,1114,3,1,1,2,1,25,1,1,3,...,1,6,1,11,3,1,1,2,4,3
2013-01-02,1115,3,1,1,2,1,25,26,4,3,...,5,5,1,0,3,1,1,2,8,3
2013-01-01,85,2,1,1,1,2,15,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,259,2,1,1,1,2,25,1,2,2,...,1,5,1,11,2,1,2,2,8,2
2013-01-01,262,2,1,1,1,2,1,1,2,1,...,1,6,1,11,2,1,2,2,5,2
2013-01-01,274,2,1,1,1,2,25,1,2,2,...,6,5,1,11,2,1,2,2,8,2
2013-01-01,335,2,1,1,1,2,25,1,2,1,...,6,7,1,11,2,1,2,2,5,2
2013-01-01,353,2,1,1,1,2,25,1,2,2,...,6,2,1,2,2,1,3,2,5,2
2013-01-01,423,2,1,1,1,2,1,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,494,2,1,1,1,2,19,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,512,2,1,1,1,2,25,1,2,2,...,6,3,1,2,2,1,3,2,5,2
2013-01-01,530,2,1,1,1,2,25,1,1,3,...,1,9,1,11,2,1,2,2,5,2
2013-01-01,562,2,1,1,1,2,25,1,2,3,...,1,4,1,11,2,1,2,2,5,2
2013-01-01,676,2,1,1,1,2,25,1,2,2,...,1,5,1,11,2,1,2,2,8,2
2013-01-01,682,2,1,1,1,2,25,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,733,2,1,1,1,2,25,1,2,2,...,1,7,1,11,2,1,2,2,5,2
2013-01-01,769,2,1,1,1,2,25,6,2,2,...,5,7,1,11,2,1,2,2,5,2
2013-01-01,948,2,1,1,1,2,25,1,2,2,...,1,2,1,2,2,1,3,2,5,2
2013-01-01,1097,2,1,1,1,2,25,1,2,2,...,1,8,1,11,2,1,2,2,5,2

In [151]:
#embedding层拼接
init = keras.initializers.RandomUniform(minval=-1, maxval=1, seed=None)

e1 = Input(shape=[22]) # None*1
# e2 = Input(shape=[1]) # None*1
# e3 = Input(shape=[1])
# e4 = Input(shape=[1])
# e5 = Input(shape=[1])
# e6 = Input(shape=[1])
# e7 = Input(shape=[1])
# e8 = Input(shape=[1])
# e9 = Input(shape=[1])
# e10 = Input(shape=[1])
# e11 = Input(shape=[1])
# e12 = Input(shape=[1])
# e13 = Input(shape=[1])
# e14 = Input(shape=[1])
# e15 = Input(shape=[1])
# e16 = Input(shape=[1])
# e17 = Input(shape=[1])
# e18 = Input(shape=[1])
# e19 = Input(shape=[1])
# e20 = Input(shape=[1])
# e21 = Input(shape=[1])
# e22 = Input(shape=[1])

emb1 = Embedding(1116, 50, embeddings_initializer=init, mask_zero=False,trainable=False)(e1) # None*3*5
# emb2 = Embedding(8, 4, embeddings_initializer=init, mask_zero=False,trainable=False)(e2) # None*3*5
# emb3 = Embedding(4, 2, embeddings_initializer=init, mask_zero=False,trainable=False)(e3)
# emb4 = Embedding(13, 7, embeddings_initializer=init, mask_zero=False,trainable=False)(e4)
# emb5 = Embedding(32, 16, embeddings_initializer=init, mask_zero=False,trainable=False)(e5)
# emb6 = Embedding(3, 2, embeddings_initializer=init, mask_zero=False,trainable=False)(e6)
# emb7 = Embedding(26, 13, embeddings_initializer=init, mask_zero=False,trainable=False)(e7)
# emb8 = Embedding(27, 14, embeddings_initializer=init, mask_zero=False,trainable=False)(e8)
# emb9 = Embedding(5, 3, embeddings_initializer=init, mask_zero=False,trainable=False)(e9)
# emb10 = Embedding(4, 2, embeddings_initializer=init, mask_zero=False,trainable=False)(e10)
# emb11 = Embedding(4, 2, embeddings_initializer=init, mask_zero=False,trainable=False)(e11)
# emb12 = Embedding(24, 12, embeddings_initializer=init, mask_zero=False,trainable=False)(e12)
# emb13 = Embedding(9, 5, embeddings_initializer=init, mask_zero=False,trainable=False)(e13)
# emb14 = Embedding(13, 7, embeddings_initializer=init, mask_zero=False,trainable=False)(e14)
# emb15 = Embedding(53, 27, embeddings_initializer=init, mask_zero=False,trainable=False)(e15)
# emb16 = Embedding(22, 11, embeddings_initializer=init, mask_zero=False,trainable=False)(e16)
# emb17 = Embedding(7, 4, embeddings_initializer=init, mask_zero=False,trainable=False)(e17)
# emb18 = Embedding(7, 4, embeddings_initializer=init, mask_zero=False,trainable=False)(e18)
# emb19 = Embedding(4, 2, embeddings_initializer=init, mask_zero=False,trainable=False)(e19)
# emb20 = Embedding(4, 2, embeddings_initializer=init, mask_zero=False,trainable=False)(e20)
# emb21 = Embedding(9, 5, embeddings_initializer=init, mask_zero=False,trainable=False)(e21)
# emb22 = Embedding(9, 5, embeddings_initializer=init, mask_zero=False,trainable=False)(e22)

auxiliary_input = Input(shape=(1,16), name='con')

# x  = Concatenate(axis=-1)([emb1,emb2,emb3,emb4,emb5,emb6,emb7,emb8,emb9,emb10
#                            ,emb11,emb12,emb13,emb14,emb15,emb16,emb17,emb18,emb19,emb20,emb21,emb22,auxiliary_input])

In [152]:
lstm_out = LSTM(32)(emb1)

In [145]:
#lstm_out = LSTM(32)(main_input)

In [153]:
auxiliary_input = Input(shape=(16,), name='aux_input')

In [146]:
#lstm_out

In [155]:
x = keras.layers.concatenate([lstm_out, auxiliary_input])

In [156]:
x = Dense(64, activation='tanh')(x)
x = Dense(64, activation='tanh')(x)
x = Dense(64, activation='tanh')(x)

In [147]:
#auxiliary_input = Input(shape=(16,), name='con')

In [148]:
#auxiliary_input

In [149]:
#x = keras.layers.concatenate([lstm_out, auxiliary_input])

In [157]:
x

In [158]:
main_output = Dense(1,activation = 'linear',name='main_output')(x)

In [154]:
#model = Model(inputs=[e1,e2,e3,e4,e5,e6,e7,e8,e9,e10,e11,e12,e13,e14,e15,e16,e17,e18,e19,e20,e21,e22,auxiliary_input], outputs = main_output )

In [159]:
model = Model(inputs=[e1, auxiliary_input], outputs=main_output)

In [160]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_2 (InputLayer)            (None, 22)           0
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 22, 50)       55800       input_2[0][0]
__________________________________________________________________________________________________
lstm_1 (LSTM)                   (None, 32)           10624       embedding_2[0][0]
__________________________________________________________________________________________________
aux_input (InputLayer)          (None, 16)           0
__________________________________________________________________________________________________
concatenate_5 (Concatenate)     (None, 48)           0           lstm_1[0][0]
                                                                 aux_input[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 64)           3136        concatenate_5[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 64)           4160        dense_2[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 64)           4160        dense_3[0][0]
__________________________________________________________________________________________________
main_output (Dense)             (None, 1)            65          dense_4[0][0]
==================================================================================================
Total params: 77,945
Trainable params: 22,145
Non-trainable params: 55,800
__________________________________________________________________________________________________

In [161]:
main_output

In [162]:
model.compile(optimizer='Adam', loss='mean_squared_error')

In [163]:
model

In [159]:
df

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,3,7,31,1,25,1,3,1,...,-1.620066,0.149027,-0.142774,-1.844823,1.732492,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,2,5,3,7,31,1,25,26,1,1,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,3,5,3,7,31,1,25,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,4,5,3,7,31,1,25,1,3,3,...,-1.009721,0.038063,0.699941,0.415345,0.769081,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,5,5,3,7,31,1,4,1,1,1,...,-1.213169,-0.960613,-0.142774,-0.488722,1.469743,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,6,5,3,7,31,1,20,1,1,1,...,-1.213169,-0.960613,-0.142774,-0.488722,1.469743,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,7,5,3,7,31,1,25,1,1,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,8,5,3,7,31,1,10,1,1,1,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,9,5,3,7,31,1,25,1,1,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,10,5,3,7,31,1,25,1,1,1,...,-1.009721,-0.183865,0.194312,-0.036688,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,11,5,3,7,31,1,25,26,1,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,12,5,3,7,31,1,25,26,1,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,13,5,3,7,31,1,25,26,4,1,...,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,14,5,3,7,31,1,17,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,15,5,3,7,31,1,25,26,4,3,...,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,16,5,3,7,31,1,25,1,1,3,...,-1.518342,-0.738685,-0.311317,-1.392789,2.257988,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,17,5,3,7,31,1,25,26,1,1,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,18,5,3,7,31,1,25,26,4,3,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,19,5,3,7,31,1,25,26,1,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,20,5,3,7,31,1,25,26,4,1,...,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,21,5,3,7,31,1,25,26,3,3,...,-1.518342,-0.738685,-0.311317,-1.392789,2.257988,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,22,5,3,7,31,1,25,26,1,1,...,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,23,5,3,7,31,1,25,1,4,1,...,-1.467480,-0.960613,-0.311317,-0.940756,0.068418,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,24,5,3,7,31,1,25,26,1,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,25,5,3,7,31,1,25,1,3,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,26,5,3,7,31,1,25,1,4,1,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,27,5,3,7,31,1,25,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,28,5,3,7,31,1,10,26,1,1,...,-1.162307,-0.960613,-0.648402,1.319413,-0.281913,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,29,5,3,7,31,1,25,1,4,3,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,30,5,3,7,31,1,18,26,1,1,...,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-02,1103,3,1,1,2,1,25,1,4,3,...,0.872177,-0.405793,-0.142774,0.415345,0.681498,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1104,3,1,1,2,1,11,26,4,1,...,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,1105,3,1,1,2,1,25,1,3,3,...,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1106,3,1,1,2,1,16,1,1,3,...,1.584247,0.370955,1.542655,-0.488722,0.593915,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1107,3,1,1,2,1,7,26,1,1,...,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,1108,3,1,1,2,1,25,1,1,1,...,0.516143,0.703847,1.037026,0.415345,0.506332,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1109,3,1,1,2,1,21,26,3,1,...,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,1110,3,1,1,2,1,25,1,3,3,...,1.177350,0.703847,1.205569,0.415345,0.418749,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1111,3,1,1,2,1,1,1,1,1,...,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1112,3,1,1,2,1,25,1,3,3,...,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1113,3,1,1,2,1,25,1,1,3,...,1.584247,0.370955,1.542655,-0.488722,0.593915,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1114,3,1,1,2,1,25,1,1,3,...,1.329936,0.370955,1.205569,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,1115,3,1,1,2,1,25,26,4,3,...,0.872177,-0.405793,-0.142774,0.415345,0.681498,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-01,85,2,1,1,1,2,15,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,259,2,1,1,1,2,25,1,2,2,...,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,262,2,1,1,1,2,1,1,2,1,...,1.024764,1.924450,1.879741,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,274,2,1,1,1,2,25,1,2,2,...,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,335,2,1,1,1,2,25,1,2,1,...,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,353,2,1,1,1,2,25,1,2,2,...,0.058384,0.038063,-0.985488,0.415345,-0.544662,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,423,2,1,1,1,2,1,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,494,2,1,1,1,2,19,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,512,2,1,1,1,2,25,1,2,2,...,0.567005,0.038063,-0.985488,0.415345,-0.807410,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,530,2,1,1,1,2,25,1,1,3,...,2.194592,0.038063,0.699941,0.415345,0.593915,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,562,2,1,1,1,2,25,1,2,3,...,0.668729,1.258667,2.048284,0.867379,-1.157742,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,676,2,1,1,1,2,25,1,2,2,...,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,682,2,1,1,1,2,25,1,2,1,...,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,733,2,1,1,1,2,25,1,2,2,...,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,769,2,1,1,1,2,25,6,2,2,...,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,948,2,1,1,1,2,25,1,2,2,...,0.058384,0.038063,-0.985488,0.415345,-0.544662,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,1097,2,1,1,1,2,25,1,2,2,...,0.465280,0.370955,1.205569,1.319413,-2.559067,-0.436405,-1.233768,1.131120,-0.897894,2.041050

In [167]:
model.fit([train_cat,train_con], yl,validation_split=0.3,epochs=3, batch_size=32)

Train on 591036 samples, validate on 253302 samples
Epoch 1/3
591036/591036 [==============================] - 821s 1ms/step - loss: 0.1296 - val_loss: 0.0485
Epoch 2/3
591036/591036 [==============================] - 804s 1ms/step - loss: 0.0263 - val_loss: 0.0460
Epoch 3/3
591036/591036 [==============================] - 809s 1ms/step - loss: 0.0207 - val_loss: 0.0514

In [164]:
train_cat = df[cat_vars]

In [189]:
train_cat

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fw,Promo_bw,StateHoliday_fw,StateHoliday_bw,SchoolHoliday_fw,SchoolHoliday_bw
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,3,7,31,1,25,1,3,1,...,1,5,31,1,6,6,1,1,8,6
2015-07-31,2,5,3,7,31,1,25,26,1,1,...,3,12,31,1,2,6,1,1,2,6
2015-07-31,3,5,3,7,31,1,25,26,1,1,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,4,5,3,7,31,1,25,1,3,3,...,1,1,31,0,2,6,1,1,2,6
2015-07-31,5,5,3,7,31,1,4,1,1,1,...,1,10,31,0,2,6,1,1,2,6
2015-07-31,6,5,3,7,31,1,20,1,1,1,...,1,10,31,0,2,6,1,1,2,6
2015-07-31,7,5,3,7,31,1,25,1,1,3,...,1,9,31,11,6,6,1,1,6,6
2015-07-31,8,5,3,7,31,1,10,1,1,1,...,1,9,31,11,6,6,1,1,6,6
2015-07-31,9,5,3,7,31,1,25,1,1,3,...,1,7,31,1,6,6,1,1,6,6
2015-07-31,10,5,3,7,31,1,25,1,1,1,...,1,4,31,0,6,6,1,1,8,8
2015-07-31,11,5,3,7,31,1,25,26,1,3,...,5,9,31,11,6,6,1,1,6,6
2015-07-31,12,5,3,7,31,1,25,26,1,3,...,3,9,31,11,6,6,1,1,6,6
2015-07-31,13,5,3,7,31,1,25,26,4,1,...,2,3,31,0,6,6,1,1,5,1
2015-07-31,14,5,3,7,31,1,17,26,1,1,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,15,5,3,7,31,1,25,26,4,3,...,4,9,31,11,6,6,1,1,6,6
2015-07-31,16,5,3,7,31,1,25,1,1,3,...,1,2,31,0,6,6,1,1,6,3
2015-07-31,17,5,3,7,31,1,25,26,1,1,...,3,12,31,1,2,6,1,1,2,6
2015-07-31,18,5,3,7,31,1,25,26,4,3,...,5,12,31,1,2,6,1,1,2,6
2015-07-31,19,5,3,7,31,1,25,26,1,3,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,20,5,3,7,31,1,25,26,4,1,...,7,3,31,0,6,6,1,1,5,1
2015-07-31,21,5,3,7,31,1,25,26,3,3,...,2,2,31,0,6,6,1,1,6,3
2015-07-31,22,5,3,7,31,1,25,26,1,1,...,5,3,31,0,6,6,1,1,5,1
2015-07-31,23,5,3,7,31,1,25,1,4,1,...,1,8,31,0,6,6,1,1,6,6
2015-07-31,24,5,3,7,31,1,25,26,1,3,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,25,5,3,7,31,1,25,1,3,1,...,1,7,31,1,6,6,1,1,6,6
2015-07-31,26,5,3,7,31,1,25,1,4,1,...,1,12,31,1,2,6,1,1,2,6
2015-07-31,27,5,3,7,31,1,25,26,1,1,...,4,7,31,1,6,6,1,1,6,6
2015-07-31,28,5,3,7,31,1,10,26,1,1,...,8,11,31,0,2,6,1,1,2,6
2015-07-31,29,5,3,7,31,1,25,1,4,3,...,1,7,31,1,6,6,1,1,6,6
2015-07-31,30,5,3,7,31,1,18,26,1,1,...,7,7,31,1,6,6,1,1,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-02,1103,3,1,1,2,1,25,1,4,3,...,6,5,1,0,3,1,1,2,8,3
2013-01-02,1104,3,1,1,2,1,11,26,4,1,...,4,3,1,2,3,1,2,2,4,3
2013-01-02,1105,3,1,1,2,1,25,1,3,3,...,6,7,1,11,3,1,1,2,4,3
2013-01-02,1106,3,1,1,2,1,16,1,1,3,...,6,9,1,0,3,1,1,2,4,3
2013-01-02,1107,3,1,1,2,1,7,26,1,1,...,3,3,1,2,3,1,2,2,4,3
2013-01-02,1108,3,1,1,2,1,25,1,1,1,...,1,10,1,11,3,1,1,2,2,3
2013-01-02,1109,3,1,1,2,1,21,26,3,1,...,5,3,1,2,3,1,2,2,4,3
2013-01-02,1110,3,1,1,2,1,25,1,3,3,...,1,1,1,11,3,1,1,2,4,3
2013-01-02,1111,3,1,1,2,1,1,1,1,1,...,6,7,1,11,3,1,1,2,4,3
2013-01-02,1112,3,1,1,2,1,25,1,3,3,...,1,7,1,11,3,1,1,2,4,3
2013-01-02,1113,3,1,1,2,1,25,1,1,3,...,1,9,1,0,3,1,1,2,4,3
2013-01-02,1114,3,1,1,2,1,25,1,1,3,...,1,6,1,11,3,1,1,2,4,3
2013-01-02,1115,3,1,1,2,1,25,26,4,3,...,5,5,1,0,3,1,1,2,8,3
2013-01-01,85,2,1,1,1,2,15,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,259,2,1,1,1,2,25,1,2,2,...,1,5,1,11,2,1,2,2,8,2
2013-01-01,262,2,1,1,1,2,1,1,2,1,...,1,6,1,11,2,1,2,2,5,2
2013-01-01,274,2,1,1,1,2,25,1,2,2,...,6,5,1,11,2,1,2,2,8,2
2013-01-01,335,2,1,1,1,2,25,1,2,1,...,6,7,1,11,2,1,2,2,5,2
2013-01-01,353,2,1,1,1,2,25,1,2,2,...,6,2,1,2,2,1,3,2,5,2
2013-01-01,423,2,1,1,1,2,1,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,494,2,1,1,1,2,19,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,512,2,1,1,1,2,25,1,2,2,...,6,3,1,2,2,1,3,2,5,2
2013-01-01,530,2,1,1,1,2,25,1,1,3,...,1,9,1,11,2,1,2,2,5,2
2013-01-01,562,2,1,1,1,2,25,1,2,3,...,1,4,1,11,2,1,2,2,5,2
2013-01-01,676,2,1,1,1,2,25,1,2,2,...,1,5,1,11,2,1,2,2,8,2
2013-01-01,682,2,1,1,1,2,25,1,2,1,...,1,1,1,11,2,1,2,2,5,2
2013-01-01,733,2,1,1,1,2,25,1,2,2,...,1,7,1,11,2,1,2,2,5,2
2013-01-01,769,2,1,1,1,2,25,6,2,2,...,5,7,1,11,2,1,2,2,5,2
2013-01-01,948,2,1,1,1,2,25,1,2,2,...,1,2,1,2,2,1,3,2,5,2
2013-01-01,1097,2,1,1,1,2,25,1,2,2,...,1,8,1,11,2,1,2,2,5,2

In [165]:
train_con = df[contin_vars]

In [166]:
train_con

,CompetitionDistance,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
Date,,,,,,,,,,,,,,,,
2015-07-31,-0.534831,1.008113,0.806978,0.317856,0.614244,-1.507606,-1.620066,0.149027,-0.142774,-1.844823,1.732492,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.624524,0.538548,0.394117,0.163376,0.873262,-0.902093,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,1.112961,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.618118,0.538548,0.531737,0.472336,0.096209,-0.977782,-1.009721,0.038063,0.699941,0.415345,0.769081,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,3.134902,0.655939,0.669357,0.626816,-1.457898,-1.431917,-1.213169,-0.960613,-0.142774,-0.488722,1.469743,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.657839,0.655939,0.669357,0.626816,-1.457898,-1.431917,-1.213169,-0.960613,-0.142774,-0.488722,1.469743,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,2.377635,0.421157,0.531737,0.317856,-0.680845,-0.977782,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,0.266001,0.421157,0.531737,0.317856,-0.680845,-0.977782,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.437450,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.292660,0.421157,0.394117,0.317856,0.096209,-0.523647,-1.009721,-0.183865,0.194312,-0.036688,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.574552,0.421157,0.531737,0.317856,-0.680845,-0.977782,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.560458,0.421157,0.531737,0.317856,-0.680845,-0.977782,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.657839,1.008113,0.944598,0.626816,-0.810354,-1.810362,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,-0.530987,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.170933,0.421157,0.531737,0.317856,-0.680845,-0.977782,-0.857134,0.370955,0.194312,0.415345,1.031829,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.278565,1.008113,0.669357,0.163376,-0.810354,-1.734673,-1.518342,-0.738685,-0.311317,-1.392789,2.257988,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.691154,0.538548,0.394117,0.163376,0.873262,-0.902093,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,1.075802,0.538548,0.394117,0.163376,0.873262,-0.902093,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.282409,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.397729,1.008113,0.944598,0.626816,-0.810354,-1.810362,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,-0.627087,1.008113,0.669357,0.163376,-0.810354,-1.734673,-1.518342,-0.738685,-0.311317,-1.392789,2.257988,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.564302,1.008113,0.944598,0.626816,-0.810354,-1.810362,-1.162307,-0.405793,-0.985488,-2.296857,1.820074,1.724334,0.604461,0.670815,1.113717,-0.489944
2015-07-31,-0.177340,1.125504,0.806978,0.317856,-0.680845,-1.886051,-1.467480,-0.960613,-0.311317,-0.940756,0.068418,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.109429,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.642463,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.402854,0.538548,0.394117,0.163376,0.873262,-0.902093,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.689872,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.543800,0.538548,0.531737,0.472336,-0.939863,-1.431917,-1.162307,-0.960613,-0.648402,1.319413,-0.281913,1.724334,0.926957,1.131120,1.113717,2.041050
2015-07-31,-0.419511,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
2015-07-31,-0.692435,0.773330,0.394117,0.008896,0.873262,-0.977782,-1.314893,-0.960613,-1.154031,-1.392789,1.820074,1.724334,0.604461,1.131120,1.113717,2.041050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-01-02,-0.525862,-0.987538,-0.982086,-0.917984,0.873262,0.838757,0.872177,-0.405793,-0.142774,0.415345,0.681498,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.664246,-1.222320,-1.257326,-1.381424,0.873262,1.065824,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,-0.655276,-0.870147,-0.844465,-0.763504,-0.033300,0.838757,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.014611,-0.870147,-0.569225,-0.300064,-0.033300,0.914446,1.584247,0.370955,1.542655,-0.488722,0.593915,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.518174,-1.222320,-1.257326,-1.381424,0.873262,1.065824,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,-0.628368,-1.104929,-0.982086,-0.609024,-0.033300,0.308933,0.516143,0.703847,1.037026,0.415345,0.506332,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.250376,-1.222320,-1.257326,-1.381424,0.873262,1.065824,1.279074,-0.405793,0.194312,0.415345,-0.807410,-0.436405,-1.201518,1.008372,-0.897894,2.041050
2013-01-02,-0.582240,-0.987538,-0.844465,-0.454544,-0.033300,0.914446,1.177350,0.703847,1.205569,0.415345,0.418749,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.454107,-0.870147,-0.844465,-0.763504,-0.033300,0.838757,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.456670,-0.870147,-0.844465,-0.763504,-0.033300,0.838757,1.431660,0.149027,0.699941,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,0.488953,-0.870147,-0.569225,-0.300064,-0.033300,0.914446,1.584247,0.370955,1.542655,-0.488722,0.593915,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.586084,-0.870147,-0.569225,-0.300064,0.873262,1.141513,1.329936,0.370955,1.205569,0.415345,-0.194331,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-02,-0.012048,-0.987538,-0.982086,-0.917984,0.873262,0.838757,0.872177,-0.405793,-0.142774,0.415345,0.681498,-0.436405,-1.201518,-1.507964,-0.897894,2.041050
2013-01-01,-0.457951,-0.752755,-0.431605,-0.145584,0.873262,0.308933,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.670652,-0.752755,-0.569225,-0.454544,-0.033300,0.460311,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.546363,-0.752755,-0.569225,-0.300064,0.873262,1.368580,1.024764,1.924450,1.879741,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.231156,-0.752755,-0.569225,-0.454544,-0.033300,0.460311,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.686028,-0.752755,-0.844465,-0.609024,0.096209,0.990135,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.582240,-0.752755,-0.982086,-1.226944,-0.033300,0.460311,0.058384,0.038063,-0.985488,0.415345,-0.544662,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.534831,-0.752755,-0.431605,-0.145584,0.873262,0.308933,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.536112,-0.752755,-0.431605,-0.145584,0.873262,0.308933,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.621962,-0.870147,-1.257326,-1.690384,0.873262,1.065824,0.567005,0.038063,-0.985488,0.415345,-0.807410,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,1.629337,-0.752755,-0.431605,0.008896,0.873262,1.595648,2.194592,0.038063,0.699941,0.415345,0.593915,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.542519,-0.870147,-0.569225,-0.300064,-0.033300,0.838757,0.668729,1.258667,2.048284,0.867379,-1.157742,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.516892,-0.752755,-0.569225,-0.454544,-0.033300,0.460311,0.465280,0.038063,0.362855,0.415345,0.681498,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.678340,-0.752755,-0.431605,-0.145584,0.873262,0.308933,0.617867,0.370955,1.037026,0.415345,0.418749,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.587366,-0.752755,-0.844465,-0.609024,0.096209,0.990135,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.589928,-0.752755,-0.844465,-0.609024,0.096209,0.990135,0.770453,1.813486,2.385369,0.415345,-0.194331,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.514330,-0.752755,-0.982086,-1.226944,-0.033300,0.460311,0.058384,0.038063,-0.985488,0.415345,-0.544662,-0.436405,-1.233768,1.131120,-0.897894,2.041050
2013-01-01,-0.605304,-0.752755,-0.569225,-0.300064,-0.162809,0.081866,0.465280,0.370955,1.205569,1.319413,-2.559067,-0.436405,-1.233768,1.131120,-0.897894,2.041050